//Of paes without the header
.layout{
  height: 100%;
  width: 100%;
  @include flex(center, center, column);
  padding: 180px $padding-pc;

  section:last-child{
    padding-bottom: 0;
  }

  &.footer-container{
    background-color: #0a0a0a;
    padding: 100px 100px 50px 100px;
  }



}


@media screen and (max-width:$tablet-padding-breakpoint) {
  .layout{
    padding: 0 $padding-tablet;


    &.footer-container{
      padding: 50px
    }
  }

}

@media screen and (max-width:600px) {

  .layout{
    padding: 0 25px;

    &.footer-container{
      padding: 70px 25px 30px 25px;
    }
  }

}
