//Of paes without the header
.layout{
  height: 100%;
  width: 100%;
  @include flex(center, center, column);

  &.footer-container{
    background-color: #0a0a0a;
    padding: 100px 100px 50px 100px;
  }
}

.section-wrapper{
  width:100vw;
  @include flex(center, center, column);
  padding: $pc-padding;

  &.clients-section{
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }

  &.section-contact-preview{
    padding-top: 0;
  }

}

.section{
  width:100%;
  max-width: $max-width;
  @include flex(center, center, column);

}


@media screen and (max-width:1200px) {
  .layout{
    &.footer-container{
      padding: 50px
    }
  }

  .section-wrapper{
    padding: $tablet-padding;
  }
}

@media screen and (max-width:600px) {

  .layout{
    &.footer-container{
      padding: 70px 25px 30px 25px;
    }
  }

  .section-wrapper{
    padding: $mob-padding;
  }

}
