//Of paes without the header
.layout{
  height: 100%;
  width: 100%;
  @include flex(center, center, column);
  padding: $pc-padding;

  &.footer-container{
    background-color: #0a0a0a;
    padding: 100px 100px 50px 100px;
  }
}


//General layout of seciton components
.section{
  @include flex(flex-start, flex-start, column);
  padding: 75px 0;
  width: 100%;
  height: auto;
  max-width: $max-width;
}

@media screen and (max-width:1200px) {
  .layout{
    padding: $tablet-padding;

    &.footer-container{
      padding: 50px
    }
  }

  .section{
    padding: 75px 0;
  }

}

@media screen and (max-width:600px) {

  .layout{
    padding: $mob-padding;

    &.footer-container{
      padding: 70px 25px 30px 25px;
    }
  }

  .section{
    padding: 50px 0;
  }

}
