.section {
  @include size (100%, auto);
  @include flex(flex-start, center, column);
  padding: 150px $padding-pc;

  &.general{
    max-width: $max-width;
  }
}

@media screen and (max-width:$tablet-breakpoint) {
  .section {
    padding: 150px $padding-tablet;
  }
}


@media screen and (max-width: $mobile-breakpoint) {
  .section {
    padding:  75px $padding-mobile;
  }
}


