.landing {
  @include flex(flex-start, center, column);
  @include size(100vw, 100vh);
  margin-top: 60px;
  padding: 0 $padding-pc;
}

.landing-description {
  @include flex(space-between, center, row);
  @include size(100%, 100%);
  width: 100%;
  max-width: $max-width;
  flex: 1;
}

.landing-title{
  @include size(100%, auto);
  max-width: 600px;
  padding-right: 20px;
}

.landing-information{
  @include size(auto, auto);
}


.landing-overflow {
  display: inline-block;
  overflow: hidden;
  height: auto;
  width: auto;

  &.list-point{
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none !important;

    svg{
      @include size(12px, auto);
      margin-left: 10px;
      margin-bottom: 5px;
      transform: rotate(-90deg);
      transition: 200ms ease-in all;

    }

    &:hover{
      svg{
        transform: translateX(10px) rotate(-90deg);
        transition: 200ms ease-in all;
        g{
          path {
            fill: $primary-color;
            transition: all ease-in-out 100ms;
          }
        }
      }
    }

  }
}

.landing-wave {
  width: 100vw;
  height: 200px;
  @include flex(flex-start, flex-end, column);
  position: relative;

  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;

    &.wave-top{
      bottom:50px;
    }
  }
}

@media screen and (max-width: $tablet-padding-breakpoint) {
  .landing {
    padding: 0 $padding-tablet;
    margin-top: 80px;
  }
}

@media screen and (max-width: $tablet-breakpoint) {
  .landing-description{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
  }

  .landing-title{
    margin-bottom: 25px;
    padding-right: 0;
  }

  .landing-information{
  }

}

@media screen and (max-width: $mobile-padding-breakpoint) {
  .landing {
    padding: 0 $padding-mobile;
  }

}

@media screen and (max-width: $mobile-breakpoint) {

  .landing{
    padding: 0;
    min-height: calc(100vh - 80px);
    justify-content: space-between;
  }

  .landing-description{
    //justify-content: flex-start;
    justify-content: space-between;
    flex:1;
  }

  .landing-title{
    @include flex(center, flex-start, column);
    padding: 0 $padding-mobile;
    margin-bottom: 20px;
    flex: 1;
   }

  .landing-information{
    width: 100vw;
    height: auto;

    .mobile-disabled{
      display: none;
    }
  }

  .landing-overflow{

    &.list-point{
      padding: 15px $padding-mobile;
      justify-content: space-between;
      align-items: center;

      h3, svg{
        margin-bottom: 0;
      }

    }
  }

  .landing-wave {
     height: 100px;

    .wave {
      height: 50px;

      &.wave-top{
        bottom:50px;
      }
    }
  }

}

@media screen and (max-width: 330px) {
  .landing{
    height: 100vh !important;
  }

}
