.landing-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  @include flex(center, flex-start, column);

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(28, 28, 28, 0.4), rgba(0, 0, 0, 0.4));
    z-index: -1;
  }

  h1, h3, h4 {
    color: $font-color-light;
    max-width: 900px;
    margin: 0;
  }

  h3{
    font-weight: normal;
  }

  p {
    max-width: 500px;
    color: $font-color-light;
    margin: 0;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

.landing-text {
  display: inline-block;
  @include flex (center, center, column);
  width: 100%;
  padding: 10px;
  flex:2;
}

.landing-overflow{
  display: block;
  overflow: hidden;
  height: auto;
  width: 100%;
  max-width: $max-width;
}

.landing-box-container{
  width:100%;
  height: 100%;
  @include flex (center, flex-end, row);
  flex:1;
  transform-origin: bottom;
}

.landing-box-wrapper{
  @include flex (flex-start, flex-start, row);
  width: 100%;
  max-width: $max-width;
  height: auto;

  div:last-child{
    border-right:solid 2px $tint-1-dark !important;
  }

}

.landing-box{
  @include flex (center, flex-start, column);
  padding: 10px 30px;
  height: 150px;
  width: 25%;

  //Tint-3-color-dark
  background-color: rgba(61,58,65, 0.6);
  border-left :solid 2px $tint-1-dark !important;
  border-top:solid 2px $tint-1-dark;
  border-right:none;
  border-bottom: none;
  cursor: pointer;
  transition: 300ms ease-in-out all;

  &.blur{
    filter: blur(1.4px);
  }

  &:hover{
    transition: 300ms ease-in-out all;
    background-color: rgba(61,58,65, 1);
  }

}


