.landing-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  @include flex(center, flex-start, column);

  &:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(28, 28, 28, 0.4), rgba(0, 0, 0, 0.2));
    z-index: -1;
  }

  h1 {
    color: $font-color-light;
    max-width: 900px;
    margin: 0;
  }

  p {
    max-width: 500px;
    color: $font-color-light;
    margin: 0;
  }

  h3, h4 {
    color: $font-color-light;
    //color: $font-color-dark;
    max-width: 900px;
    margin: 0;
  }

  h3 {
    font-weight: normal;
  }

  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

.landing-text {
  display: inline-block;
  @include flex (center, center, column);
  width: 100%;
  flex: 2;
  padding: $pc-padding;
}

.landing-overflow {
  display: block;
  overflow: hidden;
  height: auto;
  width: 100%;
  max-width: $max-width;
}

.landing-box-container {
  width: 100%;
  height: 100%;
  @include flex (flex-start, flex-end, row);
  flex: 1;
  transform-origin: bottom;
}

.landing-box-wrapper {
  @include flex (flex-start, flex-start, row);
  width: 100%;
  margin-left: calc((100vw - #{$max-width}) / 2);
  //max-width: $max-width;

  //max-width: calc(1200px * (1 / (100vw * 0.25)));
  //max-width: calc(100% - (100% - #{$max-width}));
  height: auto;

  div:last-child {
    border-right: solid 2px $tint-1-dark !important;
  }

}

.landing-box {
  @include flex (center, flex-start, column);
  padding: 10px 30px;
  height: 150px;
  width: 25%;

  //Tint-3-color-dark
  background-color: rgba(61, 58, 65, 0.6);
  //background-color: rgba(252, 252, 252, 0.90);
  border-left: solid 3px $tint-1-dark !important;
  border-top: solid 3px $tint-1-dark;
  border-right: none;
  border-bottom: none;
  transition: 300ms ease-in-out all;

  &.blur {
    filter: blur(1.4px);
  }

  &:hover {
    transition: 300ms ease-in-out all;
    background-color: rgba(61, 58, 65, 1);
    //background-color: rgba(252, 252, 252, 1);
  }

}


//Make boxes full-screen
@media screen and (max-width: 1400px) {
  .landing-box-wrapper {
    margin-left:0;
  }
}

@media screen and (max-width: 1200px) {
  .landing-text {
    padding: $tablet-padding;
  }

}

@media screen and (max-width: 500px) {
  .landing-text {
    padding: $mob-padding;
  }
}

