.landing-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 200px;
  justify-items: center;

  &.page{
    @include flex(center, center, column);
  }

}

.landing-text-container{
  @include flex (center, center, row);
  width: 100vw;
  height: auto;
  padding: 0 100px;
}

.landing-text-wrapper {
  @include flex (space-between, flex-start, row);
  width: 100%;
  height: auto;
  max-width: $max-width;
  padding-top: 100px;
}

.landing-text {
  height: auto;
  width: 50%;
  @include flex (flex-start, flex-start, column);
  max-width: 600px;
}

.landing-bullets {
  height: auto;
  width: auto;
  @include flex (flex-start, flex-start, column);
  max-width: 300px;
  white-space: nowrap;

  svg {
    display: block;
    width: 10px;
    height: auto;
    transform: rotate(-90deg);
    transition: ease-in-out 200ms;
  }

  h3 {
    cursor: pointer;
    @include flex (flex-start, center, row);

    &:hover {
      svg {
        transform: translateX(10px) rotate(-90deg);
        transition: ease-in-out 200ms;
        g{
          path{
            fill: $primary-color;
            transition: ease-in-out 100ms all;
          }
        }
      }
    }
  }

  h3 {
    user-select: none;
  }

  &.landing-client-bullets{
    p{
      cursor: auto;
      display: block !important;
    }
  }

}

.landing-overflow {
  @include flex (flex-start, flex-start, row);
  overflow: hidden;
  height: auto;
  width: auto;
  max-width: $max-width;

  svg{
    margin: auto 0;
  }

  &.button-overflow{
    height: 105%;
  }

  &.margin-bottom {
    margin-bottom: 0;
  }

}

.landing-wave {
  width: 100vw;
  height: 200px;
  @include flex (flex-end, flex-end, column);
  position: relative;

  .position-absolute-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;

    & > div {
      height: auto;
    }
  }
}

@media screen and (max-width: 1200px) {
  .landing-text-container {
    padding: 0 50px;
  }

}

@media screen and (max-width: 800px) {

  .landing-text-wrapper{
    flex-direction: column-reverse;
    width: 100%;
  }

  .landing-text{
    max-width: 100%;
    width:100%;
    text-align: center;
    @include flex(flex-start, center, column);

    h1, p {
      width:100%;
      display: block;
    }
  }

  .landing-bullets{
    display: none;
    &.landing-client-bullets{
      display: flex;
      margin-bottom: 30px;
    }
  }

}

@media screen and (max-width: 600px) {
  .landing-container {
    height: 100vh;
  }

  .landing-text-container{
    padding: 0 25px;
  }
}


//Extra classes
.landing-floating-image-wrapper{
  width:100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.landing-floating-image{
  width:100%;
  height: 100%;
  @include flex(center, center, column);
}

.landing-floating-image-text{
  width:100%;
  height: 100%;
  @include flex(flex-start, flex-start, column);
  padding-top: 100px;

}

.floating-mobile{
  width: 100%;
  height: auto;
  display: block;
  max-width: 700px;
  min-width: 300px;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}


@media screen and (max-width: 1600px) {
  .floating-mobile{
    max-width:500px;
  }
}


@media screen and (max-width: 1200px) {
  .landing-floating-image-wrapper{
    //@include flex(center, center, column);
    grid-template-columns: 1fr;
    grid-template-rows: 30vh 70vh;
  }

  .landing-floating-image-text{
    @include flex(flex-end, center, column);
    padding-top: 0;

  }

  .floating-mobile{
    width: 100%;
  }

}

@media screen and (max-width: 600px) {
  .floating-mobile{
    width: 90%;
    top:60vh;
  }
}
