.landing {
  @include flex(flex-start, center, column);
  @include size(100vw, auto);
  padding: 0 $padding-pc;
  min-height: 100vh;

}

.landing-title-container{
  @include flex(center, center, column);
  @include size(100%, 100%);
  padding-top: 200px;
  flex:1;
}

.landing-title {
  @include size(100%, 100%);
  @include flex(center, flex-start, column);
  max-width: $max-width;
  min-height: auto;
  box-sizing: content-box;
  margin-bottom: 200px;

  h1 {
    max-width: 800px;
  }

  p{
    max-width: 600px;
    margin-bottom: 50px;
  }

}

.landing-wave {
  width: 100vw;
  height: 200px;
  @include flex(flex-start, flex-end, column);
  position: relative;

  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;

    &.wave-top {
      bottom: 50px;
    }
  }
}

@media screen and (max-width: $tablet-breakpoint) {
  .landing {
    //margin-left: -$padding-tablet;
    //margin-right: -$padding-tablet;
    padding: 0 $padding-tablet;
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .landing {
    padding: 0 $padding-mobile;
    //margin-left: -$padding-mobile;
    //margin-right: -$padding-mobile;
  }
}

//Small landing styles


.landing-small {
  @include flex(flex-start, center, column);
  @include size(100vw, auto);
  min-height: 60vh;
  padding: 80px $padding-pc 0 $padding-pc;
  overflow: hidden;
  position: relative;

  &:before{
    content: "";
    position: absolute;
    @include size(100%, 100%);
    background-color: rgba(0, 0, 0, 0.6);
    left:0;
    top:0;
    z-index: 10;
  }

  h1{
    z-index: 20;
    color:white !important;
  }

  img {
    @include size(100%, 100%);
    object-fit: cover;
    position: absolute;
    object-position: 50% 50%;
    left: 0;
    top: 0;
  }

}

.landing-title-small {
  @include size(100%, auto);
  @include flex(center, flex-start, column);
  @include padding(100px 0);
  max-width: $max-width;
  min-height: 60vh;
  z-index: 100;


  h1 {
    max-width: 1000px;
  }

}


@media screen and (max-width: $tablet-breakpoint) {
  .landing-small {
    padding: 0 $padding-tablet;
  }
}

@media screen and (max-width: $mobile-breakpoint) {

  .landing-small {
    padding: 0 $padding-mobile;
  }
}

