.landing-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  @include flex(center, flex-start, column);

  &:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(28, 28, 28, 0.4), rgba(0, 0, 0, 0.2));
    z-index: -1;
  }

  h2 {
    color: $font-color-light !important;
    max-width: 900px;
    margin-bottom: 0;
    padding-bottom: 30px;
  }

  p {
    max-width: 500px;
    color: $font-color-light !important;
    margin: 0;
  }

  h3, h4 {
    max-width: 900px;
    margin: 0;
  }

  h3 {
    font-weight: normal;
  }

  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

.landing-text {
  display: inline-block;
  @include flex (center, center, column);
  width: 100%;
  flex: 2;
  padding: $pc-padding;
}

.landing-overflow {
  display: block;
  overflow: hidden;
  height: auto;
  width: 100%;
  max-width: $max-width;
}

.landing-box-container {
  width: 100%;
  height: 100%;
  flex: 1;
  transform-origin: bottom;
  @include flex (flex-start, flex-end, row);
  visibility: hidden;
  &.show{
    visibility: visible;
  }
}

.landing-box-wrapper {
  @include flex (flex-start, flex-start, row);
  width: 100%;
  margin-left: calc((100vw - #{$max-width}) / 2);
  height: auto;

  div:last-child {
    border-right: solid 2px $tint-1-dark !important;
  }

}

.landing-box {
  @include flex (space-between, center, row);
  padding: 10px 30px;
  height: 150px;
  width: 25%;
  cursor: pointer;

  border-right: none;
  border-bottom: none;
  transition: 300ms ease-in-out all;

  &.fade {
    opacity: 0.4;
  }

  span{
    @include flex (center, flex-start, column);
  }

  .arrow-right{
    width: 20px;
    height: auto;
    margin-right: 20px;
    transition: ease-in-out 200ms;

  }

  &:hover{
    .arrow-right{
      margin-right: 0;
      transition: ease-in-out 200ms;
    }
  }
}


//Make boxes full-screen
@media screen and (max-width: 1400px) {
  .landing-box-wrapper {
    margin-left:0;
  }
}

@media screen and (max-width: 1200px) {
  .landing-text {
    padding: $tablet-padding;
  }
}

@media screen and (max-width: 1000px) {
  .landing-container{
    h3{
      font-size: 18px;
    }

    h4{
      display: none;
    }

    h5{
      margin:0;
    }

    h3,h5{
      line-height: 1;
      margin-right: 10px;
    }
  }
  .landing-box-wrapper {
    @include flex (flex-start, flex-start, column);
    transform-origin: bottom;
  }

  .landing-box{
    height: auto;
    width:100%;
  }


}



@media screen and (max-width: 500px) {
  .landing-text {
    padding: $mob-padding;
  }

  .landing-box{
    .arrow-right{
      margin-right: 0;
    }
  }

}

