.landing-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  //@include flex(space-between, center, column);
  //padding: 0 100px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 200px;
  justify-items: center;

  &.page{
    @include flex (center, center, column);

  }

  h1, h4, p {
    //display: inline-block;
  }

}

img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.landing-text-container{
  @include flex (center, center, row);
  width: 100vw;
  height: auto;
  padding: 0 100px;
}

.landing-text-wrapper {
  @include flex (space-between, flex-start, row);
  width: 100%;
  height: auto;
  max-width: $max-width;
  padding-top: 100px;

}

.landing-text {
  height: auto;
  width: 50%;
  @include flex (flex-start, flex-start, column);
  max-width: 500px;
}

.landing-bullets {
  height: auto;
  width: auto;
  @include flex (flex-start, flex-start, column);
  max-width: 300px;

  svg {
    display: block;
    width: 10px;
    height: auto;
    transform: rotate(-90deg);
    transition: ease-in-out 200ms;

  }

  p {
    cursor: pointer;
    @include flex (flex-start, center, row);

    &:hover {
      svg {
        transform: translateX(10px) rotate(-90deg);
        transition: ease-in-out 200ms;
        g{
          path{
            fill: $primary-color;
            transition: ease-in-out 100ms all;
          }
        }
      }
    }
  }

  h4 {
    user-select: none;
  }

  &.landing-client-bullets{
    p{
      cursor: auto;
      display: block !important;
    }
  }

}

.landing-overflow {
  @include flex (flex-start, flex-start, column);
  overflow: hidden;
  height: auto;
  width: auto;
  max-width: $max-width;

  &.button-overflow{
    height: 105%;
  }

  &.margin-bottom {
    margin-bottom: 25px;
  }

}

.landing-wave {
  width: 100vw;
  height: 200px;
  @include flex (flex-end, flex-end, column);
  position: relative;

  .position-absolute-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;

    & > div {
      height: auto;
    }
  }
}

@media screen and (max-width: 1200px) {
  .landing-text-container {
    padding: 0 50px;
  }

}

//Make boxes full-screen

@media screen and (max-width: 800px) {

  .landing-container{
    &.page{

      .landing-text-wrapper{
        padding-top: 0;
      }

      h1{
        padding: 20px 0;
        background-color: rgba(252, 252, 252, 0.8);
      }
    }
  }

  .landing-text-wrapper{
    flex-direction: column-reverse;
    width: 100%;
  }

  .landing-text{
    max-width: 100%;
    width:100%;

    h1, p {
      width:100%;
      display: block;
    }
  }

  .landing-bullets{
    display: none;
    &.landing-client-bullets{
     display: flex;
      margin-bottom: 30px;
    }
  }

}

@media screen and (max-width: 600px) {
  .landing-container {
    height: 100vh;

    &.page{
      height: 70vh;
    }

  }

  .landing-text-container{
    padding: 0 25px;
  }
}


.floating-mobile{
  width: 50vw;
  height: auto;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  max-width: 700px;
  min-width: 300px;
  animation: float 6s ease-in-out infinite;

}

@keyframes float {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(-55%);
  }
  100% {
    transform: translateY(-50%);
  }
}
