.landing-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  @include flex(center, flex-start, column);

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(28, 28, 28, 0.4), rgba(0, 0, 0, 0.4));
    z-index: -1;
  }

  .landing-text {
    display: inline-block;
    width: auto;
    margin: 20px 0 0 20px;
    padding: 10px;
  }

  .landing-overflow{
    display: block;
    overflow: hidden;
    height: auto;
    width: auto;
  }

  h1 {
    color: $font-color-light;
    max-width: 900px;
    margin: 0;
  }

  p {
    max-width: 500px;
    color: $font-color-light;
    margin: 0;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

.landing-wrapper {
  width: 100%;
  max-width: $max-width;
  height: 100%;
  @include flex(center, flex-start, column);

}

//Home-landing
.landing-text-home {
  width: 100%;
  height: 100%;
  text-align: center;
  @include flex(center, center, column);

  h1 {
    color: #ffffff;
  }


}

.landing-disciplines {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 5px;
  z-index: 10;

  .box {
    z-index: 10;
    width: auto;
    height: auto;
    padding: 20px;
    @include flex(center, flex-start, column);
    //background-color:rgba(0,0,0,0.8);
    background-color: white;

    h5 {
      margin-bottom: 5px;
    }

    a {
      color: #1a1a1a;
    }

    &.border {
      border-left: #1a1a1a solid 1px;
      border-right: #1a1a1a solid 1px;
    }
  }
}

@media screen and (max-width: 1200px) {

  .landing-wrapper {
    @include flex(center, center, column);
    text-align: center;
  }

  .landing-container{
    h1{
      margin:0;
    }
    .landing-caption-overlay {
      width:90%;
      max-width:400px;
      margin:0;
    }
  }
}

@media screen and (max-width: 850px) {
  .landing-disciplines {
    //@include flex(center, center, column);
    .box {
      padding: 20px 10px;
      a{
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .landing-disciplines {
    grid-column-gap: 2px;
    .box {
      padding: 10px 5px;
      h4{
        font-size: 14px;
      }

      a{
        font-size: 10px;
      }
    }
  }
}
