.landing-image-container{
  width: 100%;
  height: 100vh;
  min-height: 500px;
  position: relative;
  @include flex(center, center, column);

  //&.landing-overlay-light{
  //  &:before{
  //    content:"";
  //    position: absolute;
  //    width: 100%;
  //    height: 100%;
  //    background-color: rgba(81, 81, 81, 0.3);
  //    z-index: 1;
  //    left:0;
  //    top:0;
  //  }
  //}
  //
  //&.landing-overlay-dark{
  //  &:before{
  //    content:"";
  //    position: absolute;
  //    width: 100%;
  //    height: 100%;
  //    background-color: rgba(0,0,0,0.6);
  //    z-index: 1;
  //    left:0;
  //    top:0;
  //  }
  //}

  h1{
    z-index: 10;
  }

  .arrow{
    z-index: 10;
  }

}

.landing-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}