.landing-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  @include flex(space-between, center, column);
  padding: 0 100px;

  h1, h4, p {
    display: inline-block;
  }

}

.landing-text-wrapper {
  @include flex (space-between, flex-start, row);
  width: 100%;
  margin-top: 200px;
  height: auto;
  max-width: $max-width
}

.landing-text {
  height: auto;
  width: 50%;
  @include flex (flex-start, flex-start, column);
  max-width: 500px;
}

.landing-bullets {
  height: auto;
  width: 50%;
  @include flex (flex-start, flex-end, column);
  max-width: 300px;

  svg {
    display: inline-block;
    width: 10px;
    height: auto;
    transform: rotate(-90deg);
    transition: ease-in-out 200ms;
  }

  p {
    cursor: pointer;

    &:hover {
      svg {
        transform: translateX(10px) rotate(-90deg);
        transition: ease-in-out 200ms;
      }
    }
  }

  h4 {
    user-select: none;
  }
}

.landing-overflow {
  display: block;
  overflow: hidden;
  height: auto;
  width: auto;
  max-width: $max-width;

  &.margin-bottom {
    margin-bottom: 25px;
  }

}

.landing-wave {
  width: 100vw;
  height: 200px;
  @include flex (flex-end, flex-end, column);
  position: relative;

  .position-absolute-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;

    & > div {
      height: auto;
    }
  }
}


//Make boxes full-screen

@media screen and (max-width: 1200px) {
  .landing-container {
    padding: 0 50px;
  }

  .landing-text-wrapper{
    flex-direction: column;
    height: calc(100vh - 200px - 200px);
    margin-top: 200px;
  }

  .landing-text{
    max-width: 80vw;
    width:100%;

    h1, p {
      width:100%;
      display: block;
    }

  }

  .landing-bullets{
    width: 100%;
  }

}

@media screen and (max-width: 600px) {
  .landing-container {
    height: 80vh;
    padding: 0 25px;

    p{
      font-size: 14px;
    }

  }

  .landing-text-wrapper{
    margin-top: 100px;
   }

  .landing-bullets{
    display: none;
  }

}

