@import "src/styles/globals";

@include media(">=xs") {
  .image {
    display: none;
  }

  .gridWrapper {
    width: 100%;

    & > div {
      //Select first div which is the grid
      grid-column-gap: 50px;
    }

  }

}

@include media(">=sm") {

}


@include media(">=1400px") {
  .services {
    display: flex;
    width: 100%;
    height: auto;
    max-width: 1600px;
    justify-content: space-between;
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
    max-width: 500px;
    min-width: 300px;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      left: 0;
      top: 0;

    }
  }

  .gridWrapper {
    margin-right: 50px;

    & > div {
      grid-column-gap: 100px;

      //Select all div so image gets smaller
      * > div {
        min-width: 350px;
      }
    }
  }
}
