@import "src/styles/globals";

@include media(">=xs") {
  .title{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include margin-bottom(100px);

    h1, h2 {
      max-width: 600px;
    }
  }

}
