//To keep consistent name usage throughout the website nesting of this card in
.portfolio {
  .card {
    width: 30.333%;
    height: 100%;
    h3{
      margin-bottom: 0;
    }
    margin-bottom: 100px;

    &:nth-last-of-type(1){
      margin-bottom: 0;
    } &:nth-last-of-type(2){
      margin-bottom: 0;
    } &:nth-last-of-type(3){
      margin-bottom: 0;
    }

    svg{
      width: 30px;
      height: auto;
      display: flex;
      position: absolute;
      transform: rotate(180deg) translateX(50%);
      bottom:0;
      left:50%;
      path{
        fill:white;
      }
    }

  }

  //Three cards next to each other no margin so the read more is closer to the cards
  &.portfolio-preview{
    .card{
      margin-bottom: 0;
    }
  }

  .image {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;

    img{
      top:0;
      left:0;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
      transition: all 0.7s ease 0s;

      &:hover{
        transform: scale(1.2);
        transition: all 0.7s ease 0s;
      }
    }
  }

  .card-text{
    @include size(100%, 100%);
    padding: 20px;
    position: absolute;
    bottom:0;
    background-color: rgba(9, 9, 9, 0.2);
    transform: translateY(0);
    transition: 400ms ease-in-out transform;
    @include flex(flex-end, flex-start, column);


    h3, h4, h5 {
      color: white;
    }

    h5{
      font-size: 14px;
    }

    h4{
      font-size: 16px;
      font-weight: normal;
    }

    h3{
      font-size: 20px;
      margin-bottom: 10px;
      font-weight: normal;
    }
  }

}

@media screen and (max-width:1000px) {
  .portfolio {
    .card {
      width: 45%;
    }

    .card:nth-last-child(1) {
      margin-bottom: 0;
    }

    //Two cards next to each other no margin so the read more is closer to the cards
    &.portfolio-preview{
      .card{
        margin-bottom: 100px;
      }
    }

  }
}


@media screen and (max-width:700px) {
  .portfolio {
    .card {
      width: 100%;
      height: 100%;
      margin-bottom: 50px;
    }
    .card:nth-child(even) {
      margin-top: 0;
    }

    .card:nth-last-child(1) {
      margin-bottom: 0;
    }

    .read-more{
      margin-right: auto;
      margin-left: auto;
    }

  }
}

