$portfolio-card-first-breakpoint: 1400px;
$portfolio-card-second-breakpoint: 1000px;
$portfolio-card-third-breakpoint: 500px;

.portfolio-card {
  width: 30.33%; //ratio 9/16 => 700/ (9/16)
  height: auto;
  @include flex(flex-start, flex-start, column);
  //margin-bottom: 100px;
}

.portfolio-card-inner{
  width: 100%;
  height: auto;
  margin-bottom: 0;
}

.portfolio-card-image-wrapper{
  width: 100%;
  display: block;
  margin-bottom: 25px;
  border-radius: 5px;
}

.portfolio-card-image {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 5px;

  img {
    @include size(100%, 100%);
    border-radius: 5px;
    object-fit: cover;
    object-position: 50% 50%;
    transition: all 0.7s ease 0s;
    left: 0;
    top: 0;
    position: absolute;

    &:hover {
      transform: scale(1.2);
      transition: all 0.7s ease 0s;
    }
  }

}

.portfolio-card-text {
  @include flex(flex-start, flex-start, column);
  @include size(100%, 100%);
  text-align: left;
}

@media screen and (max-width: $portfolio-card-first-breakpoint) {
  .portfolio-card {
    width: 45%;
  }

}

@media screen and (max-width: $portfolio-card-second-breakpoint) {
  .portfolio-card {
    min-width: 200px;
    width: 100%;
    max-width: 500px;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
}
