//To keep consistent name usage throughout the website nesting of this card in
.portfolio {
  .card {
    width: 30.333%;
    height: 100%;
    border-radius: 10px;
    //h3{
    //  margin-bottom: 0;
    //}
    margin-bottom: 100px;

    &:nth-last-of-type(1){
      margin-bottom: 0;
    } &:nth-last-of-type(2){
      margin-bottom: 0;
    } &:nth-last-of-type(3){
      margin-bottom: 0;
    }

    svg{
      width: 30px;
      height: auto;
      display: flex;
      position: absolute;
      transform: rotate(180deg) translateX(50%);
      bottom:0;
      left:50%;
      path{
        fill:$primary-color !important;
      }
    }

  }

  //Three cards next to each other no margin so the read more is closer to the cards
  &.portfolio-preview{
    .card{
      margin-bottom: 0;
    }
  }

  .image {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 5px;

    img{
      top:0;
      left:0;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
      transition: all 0.7s ease 0s;

      &:hover{
        transform: scale(1.2);
        transition: all 0.7s ease 0s;
      }
    }
  }

  .card-text{
    @include size(100%, 100%);
    padding: 20px 10px;
    position: relative;
    @include flex(space-between, flex-start, column);

    p{
      margin-bottom: 0;
    }

    h5{
      font-size: 14px;
    }

  }

}

@media screen and (max-width:1000px) {
  .portfolio {
    .card {
      width: 45%;
    }

    .card:nth-last-child(1) {
      margin-bottom: 0;
    }

    //Two cards next to each other no margin so the read more is closer to the cards
    &.portfolio-preview{
      .card{
        margin-bottom: 100px;
      }
    }

  }
}


@media screen and (max-width:700px) {
  .portfolio {
    .card {
      width: 100%;
      height: 100%;
      margin-bottom: 50px;
    }
    .card:nth-child(even) {
      margin-top: 0;
    }

    .card:nth-last-child(1) {
      margin-bottom: 0;
    }

    .read-more{
      margin-right: auto;
      margin-left: auto;
    }

  }
}

