.portfolio{
  @include size(100%, auto);
  @include flex(space-between, flex-start, row);
  flex-wrap: wrap;
  max-width: $max-width;
  @include margin-top(-150px);
; //This is because the cards have a margin top an to remoe space form the top cards
}

@media screen and (max-width: $portfolio-card-second-breakpoint) {
  .portfolio{
    @include flex(flex-start, center, column);
    &.margin-bottom{
      margin-bottom: 100px;
    }
  }
}

@media screen and (max-width: $portfolio-card-third-breakpoint) {
  .portfolio{
    &.margin-bottom{
      margin-bottom: 50px;
    }
  }
}


@media screen and (max-width: $mobile-breakpoint) {
  .portfolio{
    @include margin-top(-100px);
  }
}
