
.portfolio{
  @include size(100%, auto);
  @include flex(space-between, flex-start, row);
  flex-wrap: wrap;
}


@media screen and (max-width: $portfolio-card-second-breakpoint) {
  .portfolio{
    @include flex(flex-start, center, column);
    &.margin-bottom{
      margin-bottom: 50px;
    }
  }
}
