//Title
.title{
  width: 100%;
  height: auto;
  p{
    margin-bottom: 0;
  }

  margin-bottom: 50px;
}


//Readmore
.read-more{
  display: inline-block;
  position: relative;
  margin-top: 50px;
  //height: 30px;
  //overflow: hidden;
  //cursor: none;
  //font-size: 20px;
  font-family: "Poppins Medium", serif;
  &:after{
    content:"";
    position: absolute;
    bottom: 0px;
    left:0;
    width: 100%;
    height: 2px;
    color:inherit;
   }
  //
  //&:after{
  //  content:"";
  //  position: absolute;
  //  bottom:-20px;
  //  left:0;
  //  background-color: black;
  //  width: 100%;
  //  height: 3px;
  //  color:inherit;
  //  transition: all 0.5s ease 0s;
  //}
  //
  //&:hover{
  //  &:after{
  //    bottom:1.5px;
  //    transition: all 0.3s ease 0s;
  //  }
  //}
}

.link{
  font-size: 18px;
  margin-bottom: 15px;
  text-decoration: underline;
}

.no-margin{
  margin:0;
}

@media screen and (max-width:800px) {
  //.title{
  //  @include flex(center, center, column)
  //}

}
