//Title
.title {
  width: 100%;
  height: auto;
  @include flex(center, center, column);
  margin-bottom: 100px;

  h1{
    text-align: center;
  }

  p {
    text-align: center;
    margin-bottom: 0;
    max-width: 700px;
  }

  &.justify{
    p{
      text-align: justify;
    }
  }

  &.regular{
    p{
      text-align: left;
    }
  }

  &.title-button{
    margin-bottom: 30px;
  }

  &.left-title{
    @include flex(center, flex-start, column);
    p{
      text-align: justify;
      max-width: 800px;
    }
  }

  &.no-margin{
    margin-bottom: 0;
  }

}

.bold{
  font-weight: bold;
}

//Readmore
.read-more {
  display: inline-block;
  font-weight: bolder;
  margin-bottom: 0;
  position: relative;
  cursor: pointer;
}

.no-margin {
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .title {
    margin-bottom: 75px;
  }

  .read-more {
    &.read-more-portfolio {
      margin-top: 75px;
    }

    &.read-more-services {
      margin-top: 75px;
    }

  }
}

@media screen and (max-width: 600px) {
  .title {
    margin-bottom: 50px;
    h2{
      margin-bottom: 5px;
    }
  }

  .read-more {
    &.read-more-portfolio {
      margin-top: 50px;
    }

    &.read-more-services {
      margin-top: 50px;
    }

  }
}
