//Title
.title{
  width: 100%;
  height: auto;
  p{
    margin-bottom: 0;
  }

  margin-bottom: 50px;
}


//Rea dmore
.read-more{
  display: inline-block;
  position: relative;
  color:inherit;
  height: 30px;
  overflow: hidden;
  cursor: none;

  &:after{
    content:"";
    position: absolute;
    bottom:-20px;
    left:0;
    background-color: black;
    width: 100%;
    height: 3px;
    color:inherit;
    transition: all 0.5s ease 0s;

  }

  &:hover{
    &:after{
      bottom:4px;
      transition: all 0.3s ease 0s;
    }
  }
}

@media screen and (max-width:800px) {
  //.title{
  //  @include flex(center, center, column)
  //}

}
