//Title
.title{
  width: 100%;
  height: auto;
  p{
    margin-bottom: 0;
  }
  margin-bottom: 50px;
}

//Readmore

.read-more-wrapper{
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
  margin-top:50px;

}

.read-more{
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
  position: relative;

  &:before{
    content:"";
    bottom:0;
    position: absolute;
    width: 100%;
    height: 2px;
    left:0;
  }

  &.small{
    font-size: 16px;
  }

  &.margin{
    margin-top: 50px;
  }
}

.link{
  font-size: 16px;
   text-decoration: underline;
}

.no-margin{
  margin:0;
}

@media screen and (max-width: 1200px) {
  .title {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 600px){
  .read-more{
    &.small{
      font-size: 14px;
    }
  }

  .link{
    font-size: 14px;
  }

}
