//Title
.title {
  width: 100%;
  height: auto;
  @include flex(center, center, column);
  margin-bottom: 100px;

  h1{
    text-align: center;
  }

  p {
    text-align: center;
    margin-bottom: 0;
    max-width: 600px;
  }

  &.left-title{
    @include flex(center, flex-start, column);
    p{
      text-align: justify;
      max-width: 800px;
    }
  }

}

.bold{
  font-weight: bold;
}

//Readmore

.read-more-wrapper {
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
  margin-top: 50px;
}

.read-more {
  display: inline-block;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 0;
  position: relative;
  cursor: pointer;

  //&:before {
  //  content: "";
  //  bottom: 0;
  //  position: absolute;
  //  width: 100%;
  //  height: 2px;
  //  left: 0;
  //}
  //
  //&:after {
  //  content: "";
  //  bottom: 0;
  //  position: absolute;
  //  width: 100%;
  //  height: 2px;
  //  left: 0;
  //  transform: scaleX(0);
  //  transform-origin: left;
  //  transition: transform 300ms ease;
  //  background-color: $primary-color;
  //}
  //
  //&:hover {
  //  &:after {
  //    transform: scaleX(1);
  //    transition: transform 300ms ease;
  //    transform-origin: left;
  //  }
  //}

  &.small {
    font-size: 16px;
  }

  &.margin {
    margin-top: 50px;
  }

  &.read-more-portfolio {
    margin-top: 100px;
  }

  &.read-more-services {
    margin-top: 100px;
  }

}

.link {
  font-size: 16px;
  text-decoration: underline;
}

.no-margin {
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .title {
    margin-bottom: 75px;
  }

  .read-more {
    &.read-more-portfolio {
      margin-top: 75px;
    }

    &.read-more-services {
      margin-top: 75px;
    }

  }
}

@media screen and (max-width: 600px) {
  .title {
    margin-bottom: 50px;
    h2{
      margin-bottom: 5px;
    }
  }

  .read-more {
    &.read-more-portfolio {
      margin-top: 50px;
    }

    &.read-more-services {
      margin-top: 50px;
    }

  }
}
