//Title
.title{
  width: 100%;
  height: auto;
  p{
    margin-bottom: 0;
  }
  margin-bottom: 100px;
}


//Readmore
.read-more{
  display: inline-block;
  position: relative;
  font-size: 20px;
  font-weight: bold;

  &.margin{
    margin-top: 50px;
  }

  &:after{
    content:"";
    position: absolute;
    bottom: 0px;
    left:0;
    width: 100%;
    height: 2px;
    color:inherit;
   }

  &.small{
    font-size: 16px;
  }
}

.link{
  font-size: 16px;
  margin-bottom: 15px;
  text-decoration: underline;
}

.no-margin{
  margin:0;
}

//Single column breaking point portfolio and servicess
@media screen and (max-width: 700px){
  .title{
    margin-bottom: 50px;
  }

  .read-more{
    &.margin{
      margin-top: 100px;
    }
  }
}
