//Title
.title {
  @include size(100%, auto);
  @include flex(flex-start, center, column);
  max-width: 800px;

  h1, h2, h4{
    text-align: center;
  }

  h1{
    margin-bottom: 70px;
  }

  h4{
    margin-bottom: 50px;
    color: $primary-color !important;
  }

  margin-bottom: 150px;

}

//Readmore
.read-more {
  display: inline-block;
  font-weight: bolder;
  margin-bottom: 0;
  position: relative;
  cursor: pointer;

  &.read-more-big{
    font-size:22px;
  }

}

.no-margin {
  margin: 0;
}

@media screen and (max-width: $tablet-breakpoint) {
  .title {
    h1{
      font-size: 50px;
      margin-bottom: 40px;
    }

    h4{
      margin-bottom: 30px;
      color: $primary-color !important;
    }

    margin-bottom: 100px;

  }


}

@media screen and (max-width: 600px) {
  .title {
    h1{
      font-size: 30px;
    }
  }
}
