//Title
.title{
  width: 100%;
  height: auto;
  p{
    margin-bottom: 0;
  }
  margin-bottom: 50px;
}

//Readmore

.read-more-wrapper{
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
  margin-top:50px;

  &:before{
    content:"";
    position: absolute;
    left:-6%;
    transform: scaleX(0);
    width: 110%;
    height: 2px;
    color:inherit;
    background-color: #0a0a0a;
    top:0;
    transform-origin: left;
    transition: 200ms ease-in-out transform;
    transition-delay: 200ms;
  }

  &:after{
    content:"";
    position: absolute;
    bottom:0;
    left:50%;
    transform: translate(-50%, 0);
    width: 110%;
    height: 2px;
    color:inherit;
    background-color: #0a0a0a;
  }

  .line-left{
    position: absolute;
    height: 100%;
    left:-6%;
    top:0;
    border: solid 1px black;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: 200ms ease-in-out transform;
    transition-delay: 400ms;
  }

  .line-right{
    position: absolute;
    height: 100%;
    right:-6%;
    top:0;
    border: solid 1px black;
    transform: scaleY(0);
    transform-origin: top;
    transition: 200ms ease-in-out transform;

  }

  &:hover{
    .line-left{
      transform: scaleY(1);
      transition: 200ms ease-in-out transform;
    }

    &:before{
      transform: scaleX(1);
      transition: 200ms ease-in-out transform;
      transition-delay: 200ms;
      transform-origin: left;
    }
    .line-right{
      transform: scaleY(1);
      transition: 200ms ease-in-out transform;
      transition-delay: 400ms;
    }
  }

}

.read-more{
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
  &.small{
    font-size: 16px;
  }
}

.link{
  font-size: 16px;
   text-decoration: underline;
}

.no-margin{
  margin:0;
}

@media screen and (max-width: 1200px) {
  .title {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 600px){
  .read-more{
    &.small{
      font-size: 14px;
    }
  }

  .link{
    font-size: 14px;
  }

}
