.transition-animation{
  width: 100vw;
  height: 100vh;
  @include flex(center, center, row);
  position: fixed;
  z-index: $overlay-zIndex;
  transform-origin: right;

  h1{
    width:auto;
    height: auto;
    z-index: $overlay-text-zIndex;
    color:inherit;
  }

  img{
    width: 200px;
    height: auto;
    z-index: $overlay-text-zIndex;
  }
}

.element-overflow{
  display: block;
  overflow: hidden;
  height: auto;
  width: auto;
  position: relative;
}

.element-overflow-background{
  display: block;
  width: 100%;
  height: 105%;
  background-color: $primary-color;
  position: absolute;
  left:0;
  z-index: 1000;
  transform-origin: left;
}

