.transition-animation{
  width: 100vw;
  height: 100vh;
  background-color: #1a1a1a;
  @include flex(center, center, row);
  transform-origin: top;
  position: fixed;
  img{
    width: 200px;
    height: auto;
    z-index: 1;
  }
}

.element-overflow{
  display: block;
  overflow: hidden;
  height: auto;
  width: auto;
  position: relative;
}

.element-overflow-background{
  display: block;
  width: 100%;
  height: 105%;
  background-color: $primary-color;
  position: absolute;
  left:0;
  z-index: 1000;
  transform-origin: left;
}