.clients-wrapper{



}

.clients{
  @include flex(space-evenly, center, row);
  height: 200px;
  width: 100vw;

  img{
    max-width: 150px;
    width: 20vw;
    height: auto;
    min-width: 30px;
  }
}

@media screen and (max-width: 600px) {
  .clients{
    @include flex(flex-start, center, column);
    height: auto;
    img{
      max-width: 150px;
      width: 100vw;
      height: auto;
      min-width: 80px;
      margin-bottom: 50px;
    }
  }

}