.clients{
  @include flex(space-evenly, center, row);
  height: 200px;
  width: 100vw;
  background: #F4F4F4;

  img{
    max-width: 150px;
    width: 20vw;
    height: auto;
    min-width: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .clients{
    margin-top: 50px;
  }

}