.display{
  @include size(100%, 500px);
  overflow: hidden;

  div{
    @include size(100%, 100%);
    display: block;
  }

  .image{
    @include size(100%, 100%);
    object-fit: cover;
    object-position: 50% 100%;
    transition: all 0.7s ease 0s;
    &:hover{
      transform: scale(1.2);
      transition: all 0.7s ease 0s;
    }
  }


}
