//Title
.title-wrapper {
  @include size(100%, auto);
  @include flex(flex-start, center, column);
  @include margin-bottom(150px);
  max-width: 800px;

  h1, h2, h3{
    text-align: center;
  }

  h2{
    @include margin(1.5rem 0);
  }

  &.title-left{
    @include flex(flex-start, flex-start, column);
    max-width: $max-width;

    h1, h2, h3{
      text-align: left;
    }
  }


}

@media screen and (max-width: $tablet-breakpoint) {
  .title-wrapper {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .title-wrapper {
    &.title-margin-small{
      @include margin-bottom(150px);
    }

  }
}
