.cursor {
  cursor: pointer;
  transition: 0.2s ease-in-out transform;

  p{
    margin-bottom: 2px;
    transform: scale(0.30);
    text-align: center;
    color:white !important;
  }

  &.projects{
    transform: scale(4);
    position: fixed;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $primary-color;
    z-index: $cursor-zIndex;
    transition: 0.2s ease-in-out transform;
    user-select: none;
    pointer-events: none;
     @include flex(center, center, column);
    cursor: none;
  }

  &.big{
    transform: scale(2);
    transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform;
    opacity: 0.8;
  }

  &.disabled{
    display: none;
  }

  &.active{
    transform: scale(2);
    transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform;
  }
}

.cursor-follow {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #b3b3b3;
  z-index: $cursor-follow-zIndex;
  transition: 0.5s ease-in-out transform;
  user-select: none;
  pointer-events: none;
  transform: scale(1) translate(-30%, -30%);

  &.projects{
    transform: scale(0);
    transition: 0.4s ease-in-out transform;
  }

  &.active{
    transform: scale(0.5);
    transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform;
  }

  &.disabled{
    display: none;
  }

}

@media screen and (max-width: 1200px) {
  .cursor{
    display: none;


    &.projects{
      display: none;
    }
  }

  .cursor-follow{
    display: none;
  }


}
