//body {
//  cursor: none;
//}

//.cursor {
//  position: fixed;
//  border:solid 2px $primary-color;
//  width: 15px;
//  height: 15px;
//  z-index: $cursor-zIndex;
//  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform;
//  user-select: none;
//  pointer-events: none;
//  transform: scale(1) rotate(45deg);
//
//  &.active{
//    transform: scale(2);
//    transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform;
//  }
//}

.cursor {
  position: fixed;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $primary-color;
  z-index: $cursor-zIndex;
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform;
  user-select: none;
  pointer-events: none;
  transform: scale(1);
  @include flex(center, center, column);

  p{
    margin-bottom: 2px;
    transform: scale(0.15);
    text-align: center;
    color:white !important;
  }

  &.projects{
    transform: scale(6);
    transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform;
  }

  &.active{
    transform: scale(2);
    transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform;
  }
}

.cursor-follow {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #b3b3b3;
  z-index: $cursor-follow-zIndex;
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform;
  user-select: none;
  pointer-events: none;
  transform: scale(1) translate(-30%, -30%);


  &.projects{
    transform: scale(0);
    transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform;
  }
}
