.cursor {
  position: fixed;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $primary-color;
  z-index: $cursor-zIndex;
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform;
  user-select: none;
  pointer-events: none;
  transform: scale(1);
  @include flex(center, center, column);

  p{
    margin-bottom: 2px;
    transform: scale(0.15);
    text-align: center;
    color:white !important;
  }

  &.projects{
    transform: scale(6);
    transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform;
  }

  &.disabled{
    display: none;
  }

  &.active{
    transform: scale(2);
    transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform;
  }
}

.cursor-follow {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #1a1a1a;
  z-index: $cursor-follow-zIndex;
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform;
  user-select: none;
  pointer-events: none;
  transform: scale(1) translate(-30%, -30%);

  &.projects{
    transform: scale(0);
    transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform;
  }

  &.disabled{
    display: none;
  }

}

@media screen and (max-width: 1100px) {
  .cursor{
    display: none;
  }

  .cursor-follow{
    display: none;
  }
}
