@import "../../../../styles/globals";

@include media(">=xs") {
  .avatarWrapper{
    position: relative;
    display: block;
    height: auto;
    width: auto;
    overflow: hidden;
  }

  .avatar{
    position: relative;
    display: block;
    height: 70px;
    width: 70px;
    overflow: hidden;
    border-radius: 50px;

    margin-bottom: 10px;
  }

}
