.btn-top {
  position: fixed;
  right: 25px;
  bottom: 80px;
  display: block;
  width: 48px;
  height: 48px;
  margin: 0;
  //border: 1px solid #3B2551;
  border-radius: 2px;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 44px;
  z-index: 300;
  overflow: hidden;
  backdrop-filter: blur(12px);

  &.hide-arrow {
    opacity: 0;
    pointer-events: none;
    transition: 400ms ease-in-out all;
  }

  &.show-arrow {
    opacity: 1;
    pointer-events: all;
    transition: 100ms ease-in-out all;
  }


  .arrow-up {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    margin-left: -9px;
    margin-top: -5px;
    cursor: pointer;
  }

  &:hover {
    cursor: pointer;

    .arrow-up {
      animation: 1.0s ease-in-out infinite scrollUp;
    }
  }
}

@media only screen and (max-width: $tablet-breakpoint) {
  .btn-top {
    right: $padding-tablet;
    bottom: 60px;

    &:hover {
      .arrow-up {
        animation: none;
      }
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .btn-top {
    right: $padding-mobile;

  }
}

@keyframes scrollUp {
  from {
    top: 120%
  }
  to {
    top: -120%
  }
}
