$font-color-light: white;
$font-color-dark: #1a1a1a;
$primary-color:#ff6961;

$max-width:1400px;
$max-width-article:1000px;

$overlay-zIndex: 10000;
$overlay-text-zIndex: 10000;
$cursor-zIndex: 200000;
$cursor-follow-zIndex: 100000;
$header-zIndex: 1000;


//Dark colors
$tint-1-dark:#181719;
$tint-2-dark:#27242C;
$tint-3-dark: #3D3A41;

$tablet-padding-breakpoint: 1400px;
$mobile-padding-breakpoint: 600px;

$tablet-breakpoint: 1080px;
$mobile-breakpoint: 600px;



$padding-pc: 50px;
$padding-tablet: 75px;
$padding-mobile: 25px;
