$font-color-light: white;
$font-color-dark: #1a1a1a;
$primary-color:#ff6961;
$max-width:1300px;

$overlay-zIndex: 10000;
$overlay-text-zIndex: 10000;
$cursor-zIndex: 100000;
$header-zIndex: 1000;


//Dark colors
$tint-1-dark:#181719;
$tint-2-dark:#27242C;
$tint-3-dark: #3D3A41;

$pc-padding: 100px 100px 0 100px;
$tablet-padding: 50px 50px 0 50px;
$mob-padding: 25px 25px 0 25px;

$pc-padding-header: 0 100px;
$tablet-padding-header: 0 50px;
$mob-padding-header:0 25px;
