$font-color-light: white;
$primary-color:#ff6961;
$max-width:1200px;

$overlay-zIndex: 10000;
$overlay-text-zIndex: 10000;
$cursor-zIndex: 100000;
$header-zIndex: 1000;


//Dark colors
$tint-1-dark:#181719;
$tint-2-dark:#27242C;
$tint-3-dark: #3D3A41;