$primary-color:#F78DA7;
$black: #1a1a1a;
$max-width:1100px;
$section-padding-pc: 150px 0;



$button-positive:#02C03C;
$button-decline:#BEBEC0;
$button-regular: #F78DA7;
$button-disabled:#c3c3c3;
$button-negative:#FF0000;

$section-padding: (
        pc: 150px 0 100px 0,
        mobile: 80px 0 100px 0,
);
