.why-asrr {
  @include flex(center, center, row);
  width: auto;
  height: auto;
  max-width: $max-width;

  &.margin-bottom {
    margin-bottom: 100px;
  }
}

.why-asrr-left {
  justify-content: flex-start !important;
}

.why-asrr-wrapper {
  width: 100%;
  height: auto;
  min-width: 300px;
  max-width: 900px;
  @include flex(flex-start, flex-start, row);
}

.why-asrr-points {

  span {
    //height: 80px;
    height: auto;
    min-height: 80px;
    width: auto;
    max-width: 300px;
    @include flex(flex-end, center, row);
    border-right: 2px solid #eee;
    padding-right: 50px;
    cursor: pointer;
    transition: 300ms ease-in-out;

    &:hover {
      border-right: 2px solid $primary-color;
      transition: 300ms ease-in-out;
    }

    p{
      &:hover{
        font-weight: bold;
        transition:100ms ease-in-out all;
      }
    }

    &.selected-line {
      border-right: 2px solid $primary-color;

      p {
        font-weight: bold;
        background-position: 0 100%;
        transition:500ms ease-in-out all;
      }

    }
  }

  p {
    display: inline-block;
    width: auto;
    max-width: 200px;
    margin-bottom: 0;
    //text-align: left;
  }

}

.why-asrr-text {
  height: 100%;
  max-width: 1200px;
  @include flex(center, center, column);
  @include margin-left(50px);
  text-align: center;

  p{
    max-width: 800px;
  }

}

@media screen and (max-width: 700px) {
  .why-asrr {
    flex-direction: column;
    min-width: 0;
    max-width: 100%;
    align-items: center;
  }

  .why-asrr-wrapper {
    flex-direction: column;
    min-width: 0;
    max-width: 100%;
    align-items: center;
  }

  .why-asrr-points {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr 1fr 1fr;
    margin-bottom: 50px;
    width: 100%;

    span {
      border-right: none;
      border-left: 2px solid #eee;
      width: 100%;
      min-height: 100%;
      height: 100%;
      justify-content: flex-start;
      padding-left: 25px;
      padding-right: 0;

      &:last-of-type {
        margin-bottom: 0;
      }

      p {
        width: auto;
        display: flex;
        max-width: 100%;
      }

      &:hover {
        border-left: 2px solid $primary-color;
        border-right: none;
        transition: 300ms ease-in-out;
      }

      &.selected-line {
        border-left: 2px solid $primary-color;
        border-right: none;
      }
    }

    &.why-asrr-center{
      span{
        max-width: 100%;
        justify-content: center;
        padding: 25px 0;
        p{
          display: inline-block;
        }
      }
    }

  }

  .why-asrr-text {
    margin-left: 0;
    text-align: center;
    width: 100%;

    p {
      max-width: 100%;
      text-align: justify;
    }

    ul {
      list-style-position: outside;
      text-align: left;
      width: calc(100% - 50px);
      margin-left: 25px;
    }

    &.why-asrr-center{
      p{
        text-align: center;
      }
    }

  }

}

@media screen and (max-width: 600px) {
  .why-asrr {
    &.margin-bottom{
      margin-bottom: 50px;
    }
  }

}
