@import "~rfs/scss";

h1, h2, h3, h4, h5, p, a, li {
  color: #1a1a1a;
}

h1, .h1{
  @include font-size(3.5rem);
  font-weight: bold;
  margin-top: 0;
}

h2, .h2{
  @include font-size(2.5rem);
  font-weight: bold;
  margin-top: 0;
}

h3, .h3{
  @include font-size(1.5rem);
  font-weight: bold;
  margin-top: 0;
}

h4, .h4{
  @include font-size(1.3rem);
  font-weight: bold;
  margin-top: 0;
  @include margin-bottom(1rem);
}

h5, .h5{
  @include font-size(1rem);
  @include margin-bottom(0.5rem);
}

h6, .h6{
  @include font-size(14px);
}

a, p{
  @include font-size(16px);
  @include margin-bottom(1rem);
}

a{
  cursor: pointer;
  text-decoration: none;
}

.not-bold{
  font-weight: normal;
}
