@import "/node_modules/include-media";
@import "~rfs/scss";
@import "./mixins";

$breakpoints: (xs: 100px, sm: 768px, lg: 1024px, xl: 1200px);

//padding sizes
$xs-padding-horizontal: 15px;
$sm-padding-horizontal: 50px;
$lg-padding-horizontal: 75px;

$xs-padding-vertical: 50px;
$sm-padding-vertical: 75px;
$lg-padding-vertical: 100px;

$black: #24272A;
$white: #f8f8f8;
$primary-color:#FF6961FF;
$secondary-color: #185cd5;

//max-width
$max-width: 1000px;
