@import "/node_modules/include-media";
@import "~rfs/scss";

$breakpoints: (xs: 100px, sm: 768px, lg: 1024px, xl: 1200px);

//padding sizes
$xs-padding-horizontal: 15px;
$sm-padding-horizontal: 50px;
$lg-padding-horizontal: 75px;
$xl-padding-horizontal: 100px;

$xs-padding-vertical: 50px;
$sm-padding-vertical: 150px;
$lg-padding-vertical: 150px;
$xl-padding-vertical: 200px;

$black: #24272A;
$white: #f8f8f8;
$primary-color:#FF6961FF;

//max-width
$max-width: 1000px;
