@include media(">=xs") {
  .logo {
    width: 50px;
    height: auto;
    z-index: 9999;
    margin: 0;
    cursor: pointer;
  }

  .global-padding-horizontal {
    padding-left: $xs-padding-horizontal;
    padding-right: $xs-padding-horizontal;
  }

  .global-padding-vertical {
    padding-top: $xs-padding-vertical;
    padding-bottom: $xs-padding-vertical;
  }

  .global-margin-vertical {
    margin-top: $xs-padding-vertical;
    margin-bottom: $xs-padding-vertical;
  }
}

@include media(">=400px", "<lg") {
  .global-padding-horizontal {
    padding-left: $sm-padding-horizontal;
    padding-right: $sm-padding-horizontal;
  }

  .global-padding-vertical {
    padding-top: $sm-padding-vertical;
    padding-bottom: $sm-padding-vertical;
  }

  .global-margin-vertical {
    margin-top: $sm-padding-vertical;
    margin-bottom: $sm-padding-vertical;
  }
}

@include media(">=lg") {
  .logo{
    width: 80px;
  }

  .global-padding-horizontal {
    padding-left: $lg-padding-horizontal;
    padding-right: $lg-padding-horizontal;
  }

  .global-padding-vertical {
    padding-top: $lg-padding-vertical;
    padding-bottom: $lg-padding-vertical;
  }

  .global-margin-vertical {
    margin-top: $lg-padding-vertical;
    margin-bottom: $lg-padding-vertical;
  }
}

.image-zoom-animation{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  left:0;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
