.MuiFormLabel-root .MuiInputLabel-root .MuiInputLabel-formControl .MuiInputLabel-animated {
  transform: translate(0, 100%) scale(1) !important;
  width:100%;
  max-width: 100%;
}

.MuiFormControl-root .MuiTextField-root{
  width: 100% !important;
}