.contact {
  @include flex(flex-start, flex-start, column);
  @include size(100%, 100%);
  max-width: 800px;

  &.preview {
    text-align: center;
  }

  .form {
    @include flex(space-between, flex-start, column);
    @include size(100%, 100%);
    margin-top: 25px;
    max-width: 600px;

    .input-container{
      &:nth-of-type(5){
        margin-bottom: 50px;
      }
    }

  }

  .map-container {
    flex: 1;
    @include flex(center, center, column);
    @include size(100%, 100%);
    margin-top: 100px;
    //The map has an outer div which doesn't allow for justify-content space between because there are 3 divs then.
    div:first-child {
      position: absolute;
    }
  }

  .map {
    width: 100%;
    height: 500px;
    border-radius: 5px;
  }
}

.contact-adress{
  margin: 0 0 50px 0;
  a, p {
    display: block;
    margin-bottom: 5px;
  }
}


@media screen and (max-width: 600px) {
  .contact {
    .map {
      height: 300px;
    }

  }
}
