@import "src/styles/globals";

@include media(">=xs") {
  .contactPreview {
    background-color: $primary-color;
  }

  .contactInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: $max-width;

    h1, h2 {
      color: $white !important;
      text-align: center;
    }

    h2 {
      max-width: 600px;
    }

  }
}
