//To keep consistent name usage throughout the website nesting of this card in

.services {
  width: 100%;
  height: auto;
  @include flex (space-between, flex-start, row);
  flex-wrap: wrap;

  .card {
    width: 30.333%;
    height: auto;
    min-height: 300px;
    margin-bottom: 70px;
    p{
      max-width: 80%;
    }
  }
}

@media screen and (max-width:1000px) {
  .services {
    .card {
      width: 45%;
    }
  }
}

@media screen and (max-width:700px) {
  .services {
    div:last-child{
      margin-bottom: 0;
    }
    .card {
      width: 100%;
      height: auto;
      margin-bottom: 75px;
      min-height: auto;
    }
  }
}
