//To keep consistent name usage throughout the website nesting of this card in

.services {
  width: 100%;
  height: auto;
  @include flex(space-between, flex-start, row);
  flex-wrap: wrap;

  .card {
    width: 30.333%;
    height: auto;
    //min-height: 300px;
    margin-bottom: 70px;
    p {
      //margin-bottom: 0;
      max-width: 80%;
    }

    &:nth-last-child(1) {
      margin-bottom: 0;
    }

    &:nth-last-child(2) {
      margin-bottom: 0;
    }

    &:nth-last-child(3) {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 1000px) {
  .services {
    .card {
      width: 45%;
      margin-bottom: 50px;

      p{
        max-width: 100%;
      }
      &:nth-last-child(3) {
        margin-bottom: 50px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .services {
    .card {
      width: 100%;
      height: auto;

      &:nth-last-child(2) {
        margin-bottom: 50px;
      }

      p {
        max-width: 100%;
      }
    }
  }
}
