//To keep consistent name usage throughout the website nesting of this card in

.services {
  width: 100%;
  height: auto;
  @include flex(space-between, flex-start, row);
  flex-wrap: wrap;

  &.services-preview{
    margin-top: -300px;
    justify-content: center;
    .card{
      background-color: white;
      padding: 30px 40px;
      box-shadow: 0 1px 9px rgba(0,0,0,0.13);
      min-height: 400px;
      border-radius: 5px;
      margin: 0 5px;
      transition: 300ms ease-in;
      z-index: 80;
      user-select: none;

      &:hover{
        transform: scale(1.03);
        transition: 300ms ease-in-out;
      }

    }
  }

  .card {
    width: 30.333%;
    height: auto;
    margin-bottom: 70px;
    text-align: center;
    @include flex(flex-start, center, column);

    svg{
      display: block;
      margin-bottom: 25px;
      width: 30px;
      height: auto;
    }

    p {
      //margin-bottom: 0;
      max-width: 600px;
    }

    &:nth-last-child(1) {
      margin-bottom: 0;
    }

    &:nth-last-child(2) {
      margin-bottom: 0;
    }

    &:nth-last-child(3) {
      margin-bottom: 0;
    }

    &.service-preview{

    }

  }
}

@media screen and (max-width: 1000px) {
  .services {
    .card {
      width: 45%;
      margin-bottom: 75px;

      p{
        max-width: 100%;
      }
      &:nth-last-child(3) {
        margin-bottom: 50px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .services {
    .card {
      width: 100%;
      height: auto;
      @include flex(center, center, column);

      &:nth-last-child(2) {
        margin-bottom: 50px;
      }

      p {
        max-width: 100%;
        text-align: center;
      }
    }
  }
}
