//To keep consistent name usage throughout the website nesting of this card in

.services {
  .card {
    width: 30.333%;
    height: auto;
    //overflow: hidden;

    h3{
      margin-bottom: 0;
    }

  }

}

@media screen and (max-width:500px) {
  .services {
    .card {
      width: 100%;
      //max-width: 500px;
      height: 100%;
      //@include flex(center, center, column);
      margin-bottom: 50px;
    }
  }
}
