.services-preview{
  @include flex(space-between, flex-start, row);
  @include size(100%, auto);
  @include margin-top(-150px);
  max-width: $max-width;
}

.service-preview-card{
  @include size(30.333%, auto);
  @include flex(flex-start, center, column);
  min-height: 300px;
  max-width: 500px;

  &:nth-child(1){
    margin-right: 20px;
  }

  &:nth-child(2){
    margin-left: 20px;
    margin-right: 20px;
  }

  &:nth-child(3){
    margin-left: 20px;
  }

  text-align: center;

  ul {
    list-style: none;
    //list-style-image: url("/assets/icons/check_circle_outline-24px.svg");
  }

}

.service-preview-card-image{
  @include size(150px, 150px);
  position: relative;
  margin-bottom: 45px;
  border-radius: 50%;

  &:before{
    @include size(100%, 100%);
    content:"";
    position: absolute;
    top:0;
    left:0;
    background: linear-gradient(133deg, $primary-color 0%, #667eea 100%);
    border-radius: 50%;
    opacity: 0.35;

  }

  img{
    object-fit: cover;
    @include size(100%, 100%);
    object-position: center;
    border-radius: 50%;
  }
}



@media screen and (max-width: $tablet-breakpoint) {
  .services-preview{
    @include flex(flex-start, center, column);
    @include size(100%, auto);
    padding: 0;
  }

  .service-preview-card{
    width: 100%;
    max-width: 500px;
  }
}


@media screen and (max-width: $mobile-breakpoint) {
  .services-preview{
    @include margin-top(-100px);
  }
}
