backend:
  name: github
  repo: ASRRtechnologies/asrr-nextjs
  branch: production
media_folder: public/img
public_folder: img
publish_mode: editorial_workflow
display_url: https://asrr.nl
logo_url: https://asrr.nl/assets/images/logo/asrr.svg
collections:
  - label: "Blog"
    name: "blog"
    identifier_field: slug
    summary: '{{title}} - {{language}}'
    folder: "public/content/blog"
    path: '{{language}}/{{slug}}'
    slug: '{{title}}'
    create: true
    editor:
      preview: false
    fields:
      - {label: "Language", name: "language", widget: "select", options: ["nl", "en"], default: "nl"}
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Body", name: "body", widget: "markdown" }
  - label: "Projects"
    name: "project"
    identifier_field: slug
    summary: '{{title}} - {{language}}'
    folder: "public/content/projects"
    create: true
    media_folder: ''
    public_folder: ''
    path: '{{language}}/{{title}}/{{slug}}'
    slug: '{{title}}'
    editor:
      preview: true
    fields:
      - {label: "Language", name: "language", widget: "select", options: ["nl", "en"], default: "nl"}
      - { label: "Title (also the file and path name)", name: "title", widget: "string", description: This is name of the project}
      - label: "Project Info"
        name: "info"
        widget: "object"
        fields:
          - {label: "Project Title", name: "title", widget: "string"}
          - {label: "Client", name: "client", widget: "string"}
          - label: "Project Date"
            name: "date"
            widget: "datetime"
            default: ""
            date_format: "DD.MM.YYYY"
            time_format: "HH:mm"
            format: "LLL"
            picker_utc: false
          - {label: "Author", name: "author", widget: "string", required: false}
          - label: "Tags"
            name: "type"
            widget: "list"
            fields:
              - {label: "Tag", name: "tag", widget: "select", options: ["Artikel", "Nieuws", "Full stack Development", "Expertise on demand"]}
      - label: "Project Card"
        name: "card"
        widget: "object"
        fields:
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Description", name: "description", widget: "string"}
          - {label: "Image_Webp", name: "image_webp", widget: "image"}
          - {label: "Image", name: "image", widget: "image"}
          - {label: "Image Alt", name: "alt", widget: "string"}
      - label: "Landing"
        name: "landing"
        widget: "object"
        fields:
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Image_Webp", name: "image_webp", widget: "image"}
          - {label: "Image", name: "image", widget: "image"}
          - {label: "Image Alt", name: "alt", widget: "string"}
      - label: "Article Section"
        name: "article"
        widget: "list"
        fields:
          - {label: "Content", name: "content", widget: "markdown"}
          - label: "Media"
            name: "media"
            widget: "object"
            required: false
            fields:
              - label: "Image"
                name: "images"
                widget: "list"
                required: false
                fields:
                  - {label: "Image_Webp", name: "image_webp", widget: "image", required: false}
                  - {label: "Image", name: "image", widget: "image", required: false}
                  - {label: "Image Alt", name: "alt", widget: "string", required: false}
                  - {label: "Image Description", name: "description", widget: "string", required: false}
                  - {label: "Image Reference", name: "reference", widget: "string", required: false}
              - label: "Videos"
                name: "videos"
                widget: "list"
                required: false
                fields:
                  - {label: "Video", name: "video", widget: "file", required: false}
                  - {label: "Video Description", name: "video_description", widget: "string", required: false}
                  - {label: "Video Reference", name: "video_reference", widget: "string", required: false}
  - label: "Home"
    name: "home"
    identifier_field: slug
    summary: '{{title}} - {{language}}'
    folder: "public/content/pages"
    path: '{{language}}/{{title}}/{{slug}}'
    slug: '{{title}}'
    create: true
    media_folder: ''
    public_folder: ''
    editor:
      preview: false
    fields:
      - {label: "Language", name: "language", widget: "select", options: ["nl", "en"], default: "nl"}
      - { label: "Title", name: "title", widget: "string" }
      - label: "Landing"
        name: "landing"
        widget: "object"
        fields:
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Text", name: "text", widget: "string"}
          - {label: "Image_Webp", name: "image_webp", widget: "image", required: false}
          - {label: "Image", name: "image", widget: "image", required: false}
          - {label: "Image Alt", name: "alt", widget: "string", required: false}
      - label: "Service Section"
        name: "services_section"
        widget: "object"
        fields:
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Header", name: "header", widget: "string"}
          - {label: "Subheader", name: "subheader", widget: "string"}
          - label: "Service Cards"
            name: "services"
            widget: "list"
            required: true
            fields:
              - {label: "Image_Webp", name: "image_webp", widget: "image"}
              - {label: "Image", name: "image", widget: "image"}
              - {label: "Image Alt", name: "alt", widget: "string"}
              - {label: "Service Card Title", name: "title", widget: "string"}
              - {label: "Service Card Text", name: "text", widget: "string"}
          - {label: "Button", name: "button", widget: "string", default: "Ga naar services"}
      - label: "Tech Stack"
        name: "technologies_section"
        widget: "object"
        fields:
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Header", name: "header", widget: "string"}
          - {label: "Subheader", name: "subheader", widget: "string"}
          - label: "Technologies"
            name: "technologies"
            widget: "list"
            required: true
            fields:
              - {label: "Image_Webp", name: "image_webp", widget: "image"}
              - {label: "Image", name: "image", widget: "image"}
              - {label: "Image Alt", name: "alt", widget: "string"}
      - label: "Portfolio"
        name: "portfolio_section"
        widget: "object"
        fields:
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Header", name: "header", widget: "string"}
          - {label: "Subheader", name: "subheader", widget: "string"}
          - label: "Portfolio Cards"
            name: "cards"
            widget: "list"
            required: true
            fields:
              - {label: "Image_Webp", name: "image_webp", widget: "image"}
              - {label: "Image", name: "image", widget: "image"}
              - {label: "Image Alt", name: "alt", widget: "string"}
              - {label: "Portfolio Card Title", name: "title", widget: "string"}
              - {label: "Portfolio Card Client", name: "client", widget: "string"}
              - {label: "Portfolio Card url", name: "url", widget: "string"}
          - {label: "Button", name: "button", widget: "string", default: "Ga naar portfolio"}
      - label: "Testimonials"
        name: "testimonials_section"
        widget: "object"
        fields:
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Header", name: "header", widget: "string"}
          - {label: "Subheader", name: "subheader", widget: "string"}
          - label: "Testimonial Cards"
            name: "cards"
            widget: "list"
            required: true
            fields:
              - {label: "Image_Webp", name: "image_webp", widget: "image"}
              - {label: "Image", name: "image", widget: "image"}
              - {label: "Image Alt", name: "alt", widget: "string"}
              - {label: "Client Name", name: "name", widget: "string"}
              - {label: "Client Position", name: "position", widget: "string"}
              - {label: "Client Story", name: "story", widget: "string"}
              - {label: "Client Company", name: "company", widget: "string"}
      - label: "ASRR Qualities"
        name: "quality_section"
        widget: "object"
        fields:
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Header", name: "header", widget: "string"}
          - {label: "Subheader", name: "subheader", widget: "string"}
          - label: "Quality List"
            name: "qualities"
            widget: "list"
            required: true
            fields:
              - {label: "Quality Keyword", name: "quality", widget: "string"}
              - {label: "Quality Description", name: "description", widget: "string"}
      - label: "Blog"
        name: "blog_section"
        widget: "object"
        fields:
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Header", name: "header", widget: "string"}
          - {label: "Subheader", name: "subheader", widget: "string"}
          - label: "Blog Cards"
            name: "cards"
            widget: "list"
            required: true
            fields:
              - {label: "Image_Webp", name: "image_webp", widget: "image"}
              - {label: "Image", name: "image", widget: "image"}
              - {label: "Image Alt", name: "alt", widget: "string"}
              - {label: "Blog Card Title", name: "title", widget: "string"}
              - {label: "Blog Card Text", name: "text", widget: "string"}
              - {label: "Blog Card Tag", name: "tag", widget: "select", options: ["Artikel", "Nieuws", "Tutorial"], }
              - label: "Blog Card Date"
                name: "date"
                widget: "datetime"
                default: ""
                date_format: "DD.MM.YYYY"
                time_format: "HH:mm"
                format: "LLL"
                picker_utc: false
              - {label: "Blog Card Author", name: "author", widget: "string"}
              - {label: "Blog Card url", name: "url", widget: "string"}
      - {label: "Button", name: "button", widget: "string", default: "Ga naar blog"}
      - label: "Clients"
        name: "clients"
        widget: "object"
        fields:
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Header", name: "header", widget: "string"}
          - {label: "Subheader", name: "subheader", widget: "string"}
