backend:
  name: github
  repo: ASRRtechnologies/asrr-nextjs
  branch: production
media_folder: public/img
public_folder: img
publish_mode: editorial_workflow
display_url: https://asrr.nl
logo_url: https://asrr.nl/assets/images/logo/asrr.svg
collections:
  - label: "Blog"
    name: "blog"
    identifier_field: slug
    summary: '{{title}} - {{language}}'
    folder: "public/content/blog"
    path: '{{language}}/{{slug}}'
    slug: '{{title}}'
    create: true
    editor:
      preview: false
    fields:
      - {label: "Language", name: "language", widget: "select", options: ["nl", "en"], default: "nl"}
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Body", name: "body", widget: "markdown" }
  - label: "Projects"
    name: "project"
    identifier_field: slug
    summary: '{{title}} - {{language}}'
    folder: "public/content/projects"
    create: true
    media_folder: ''
    public_folder: ''
    path: '{{language}}/{{slug}}'
    slug: '{{title}}'
    editor:
      preview: false
    fields:
      - {label: "Language", name: "language", widget: "select", options: ["nl", "en"], default: "nl"}
      - { label: "Title", name: "title", widget: "string", description: This is name of the project}
      - label: "Landing"
        name: "landing"
        widget: "list"
        allow_add: false
        fields:
          - {label: Title, name: title, widget: string, default: "Emmet"}
          - {label: Image, name: image, widget: image}
      - label: "Article Title"
        name: "article_title"
        widget: "list"
        fields:
          - {label: Title, name: title, widget: string, default: "Emmetw"}
          - {label: Client, name: client, widget: string,}
