backend:
  name: github
  repo: ASRRtechnologies/asrr-nextjs
  branch: production
media_folder: public/img
public_folder: img
publish_mode: editorial_workflow
display_url: https://asrr.nl
logo_url: https://asrr.nl/assets/images/logo/asrr.svg
collections:
  - label: "Blog"
    name: "blog"
    identifier_field: slug
    summary: '{{title}} - {{language}}'
    folder: "public/content/blog"
    path: '{{language}}/{{slug}}'
    slug: '{{title}}'
    create: true
    editor:
      preview: false
    fields:
      - {label: "Language", name: "language", widget: "select", options: ["nl", "en"], default: "nl"}
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Body", name: "body", widget: "markdown" }
  - label: "Projects"
    name: "project"
    identifier_field: slug
    summary: '{{title}} - {{language}}'
    folder: "public/content/projects"
    create: true
    media_folder: ''
    public_folder: ''
    path: '{{language}}/{{slug}}'
    slug: '{{title}}'
    editor:
      preview: false
    fields:
      - {label: "Language", name: "language", widget: "select", options: ["nl", "en"], default: "nl"}
      - { label: "Title", name: "title", widget: "string", description: This is name of the project}
      - label: "Landing"
        name: "landing"
        widget: "object"
        collapsed: true
        fields:
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Image_Webp", name: "image_webp", widget: "image"}
          - {label: "Image", name: "image", widget: "image"}
          - {label: "Image Alt", name: "alt", widget: "string"}
      - label: "Project Info"
        name: "info"
        widget: "object"
        collapsed: "true"
        fields:
          - {label: "Project Title", name: "title", widget: "string"}
          - {label: "Client", name: "client", widget: "string"}
          - {label: "Date", name: "date", widget: "date"}
          - {label: "Author", name: "author", widget: "string", required: "true"}
          - {label: "Image", name: "image", widget: "image"}
      - label: "Article Section"
        name: "article"
        widget: "list"
        collapsed: "true"
        fields:
          - {label: "Content", name: "content", widget: "markdown"}
          - label: "Image"
            name: "image"
            widget: "list"
            collapsed: "true",
            required: "false"
            fields:
                - {label: "Image_Webp", name: "image_webp", widget: "image"}
                - {label: "Image", name: "image", widget: "image"}
                - {label: "Image Description", name: "description", widget: "string"}
                - {label: "Image Reference", name: "reference", widget: "string"}
                - {label: "Image Alt", name: "alt", widget: "string"}
