backend:
  name: github
  repo: ASRRtechnologies/asrr-nextjs
  branch: production
media_folder: public/img
public_folder: img
publish_mode: editorial_workflow
display_url: https://asrr.nl
logo_url: https://asrr.nl/assets/images/logo/asrr.svg
collections:
  - label: "Blog"
    name: "blog"
    identifier_field: slug
    summary: '{{title}} - {{language}}'
    folder: "public/content/blog"
    path: '{{language}}/{{slug}}'
    slug: '{{title}}'
    create: true
    editor:
      preview: false
    fields:
      - {label: "Language", name: "language", widget: "select", options: ["nl", "en"], default: "nl"}
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Body", name: "body", widget: "markdown" }
  - label: "Projects"
    name: "project"
    identifier_field: slug
    summary: '{{title}} - {{language}}'
    folder: "public/content/projects"
    create: true
    media_folder: ''
    public_folder: ''
    path: '{{language}}/{{title}}/{{slug}}'
    slug: '{{title}}'
    editor:
      preview: true
    fields:
      - {label: "Language", name: "language", widget: "select", options: ["nl", "en"], default: "nl"}
      - { label: "Title (also the file and path name)", name: "title", widget: "string", description: This is name of the project}
      - label: "Project Info"
        name: "info"
        widget: "object"
        fields:
          - {label: "Project Title", name: "title", widget: "string"}
          - {label: "Client", name: "client", widget: "string"}
          - label: "Project Date"
            name: "date"
            widget: "datetime"
            default: ""
            date_format: "DD.MM.YYYY"
            time_format: "HH:mm"
            format: "LLL"
            picker_utc: false
          - {label: "Author", name: "author", widget: "string", required: false}
          - label: "Tags"
            name: "tags"
            widget: "list"
            max: 10
            min: 1
            default: ["news", "article", "Full stack development", "Custom Built Hardware", "Expertise on demand", "Business Insights" ]
            add_to_top: true
      - label: "Project Card"
        name: "card"
        widget: "object"
        fields:
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Description", name: "description", widget: "string"}
          - {label: "Image_Webp", name: "image_webp", widget: "image"}
          - {label: "Image", name: "image", widget: "image"}
          - {label: "Image Alt", name: "alt", widget: "string"}
      - label: "Landing"
        name: "landing"
        widget: "object"
        fields:
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Image_Webp", name: "image_webp", widget: "image"}
          - {label: "Image", name: "image", widget: "image"}
          - {label: "Image Alt", name: "alt", widget: "string"}
      - label: "Article Section"
        name: "article"
        widget: "list"
        fields:
          - {label: "Content", name: "content", widget: "markdown"}
          - label: "Media"
            name: "media"
            widget: "object"
            required: false
            fields:
              - label: "Image"
                name: "images"
                widget: "list"
                required: false
                fields:
                  - {label: "Image_Webp", name: "image_webp", widget: "image", required: false}
                  - {label: "Image", name: "image", widget: "image", required: false}
                  - {label: "Image Alt", name: "alt", widget: "string", required: false}
                  - {label: "Image Description", name: "description", widget: "string", required: false}
                  - {label: "Image Reference", name: "reference", widget: "string", required: false}
              - label: "Videos"
                name: "videos"
                widget: "list"
                required: false
                fields:
                  - {label: "Video", name: "video", widget: "file", required: false}
                  - {label: "Video Description", name: "video_description", widget: "string", required: false}
                  - {label: "Video Reference", name: "video_reference", widget: "string", required: false}


