backend:
  name: github
  repo: ASRRtechnologies/asrr-nextjs
  branch: production
media_folder: public/img
public_folder: img
publish_mode: editorial_workflow
display_url: https://asrr.nl
logo_url: https://asrr.nl/assets/images/logo/asrr.svg
collections:
  - label: "Blog"
    name: "blog"
    identifier_field: slug
    folder: "content/blog"
    path: '{{language}}/{{slug}}'
    slug: '{{title}}-{{language}}'
    create: true
    editor:
      preview: false
    fields:
      - {label: "Language", name: "language", widget: "select", options: ["nl", "en"], default: "nl"}
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Body", name: "body", widget: "markdown" }

