@import "src/styles/mixins";
@import "variables";
@import "global-styles";

@import "../global/header/header";
@import "../global/header/header-mobile";
@import "../global/header/hamburger";
@import "../global/animation/transition-animation";

@import "../utillities/scrollers/scroll-down";
@import "../utillities/scrollers/scroll-up";
@import "../utillities/scrollers/cursor";
@import "../utillities/text/text";
@import "../utillities/text/input";

@import "../pages/home/tech-stack/tech-stack";

