.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 15px 0;
  z-index: 1000000000;
  transform: scale(0.8);

  .barOne, .barThree {
    width: 35px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
    border-radius: 10px;
  }

  .barTwo {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
    border-radius: 10px;
    right: 0;
  }

  &:hover {
    .bar2 {
      width: 35px;
      transition: 300ms ease-in-out all;
    }

  }
}

.hamburgerOpen {
  .barOne {
    //-webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  /* Fade out the second bar */
  .barTwo {
    opacity: 0;
  }

  /* Rotate last bar */
  .barThree {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-7px, -8px);
  }
}

@media screen and (max-width: 1200px) {
  .hamburger {
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  .hamburger {
    transform: scale(0.6);
  }
}
