@import "src/styles/globals";

@include media(">=xs") {
  .grid {
    display: grid;
    max-width: 1000px;
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
    grid-row-gap: 100px;
    justify-items: center;
  }
}

@include media(">=sm") {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
  }

}


@include media(">sm", "<=lg") {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

}
