@import "../../../../../styles/globals";

@include media(">=xs") {
  .values {
    display: grid;
    grid-template-columns: 1fr;
    max-width: $max-width;
  }

  .valueTitlesContainer {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    margin-bottom: 30px;
    align-content: center;

    .valueTitles {
      display: inline-block;
      text-align: left;
      border-left: 2px solid transparent;
      transition: border 300ms ease-in-out;
      cursor: pointer;
      @include padding(1rem 0 15px 1rem);

      h1 {
        transition: color 300ms ease-in-out;
        margin: auto 0;
      }

      &.active, &:hover {
        border-left: 2px solid $primary-color;
        transition: border 300ms ease-in-out;

        h1 {
          color: $primary-color !important;
          transition: color 300ms ease-in-out;
        }
      }
    }

    .valueTitles:last-child{
      h1{
        padding-bottom: 0;
      }
    }
  }

  .text{
    padding-left: 15px; //Same as title
    width: 100%;
    max-width: 800px;
  }

}

@include media(">=sm") {
  .values {
    grid-template-columns: auto 1fr;
    grid-column-gap: 50px;
  }

  .valueTitlesContainer {
    align-content: start;

    .valueTitles {
      display: block;
      border-left:none;
      border-right: 2px solid transparent;
      padding-right: 15px;
      padding-left: 0;

      &.active, &:hover {
        border-left:none;
        border-right: 2px solid $primary-color;
      }
    }
    margin-bottom: 0;
  }

  .text{
    padding-left: 0;
    margin-bottom: 0;

  }
}
