@import "src/styles/globals";

@include media(">=xs") {
  .footer {
    @include size(100%, auto);
    @include flex(space-between, center, column);
    background-color: #000;
    //OVERRIDE
    padding-bottom: 35px !important;

    .h6, .h5, p, a {
      color: $white;
      margin-bottom: 10px;
    }

    a{
      text-decoration: underline;
    }
  }

  .innerFooter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footerGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    max-width: $max-width;
    grid-row-gap: 30px;

    .logo {
      width: 80px;
      cursor: pointer;
    }
  }

  .grid {
    display: flex;
    flex-direction: column;
  }

  .bottom {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    border-top: 1px solid $primary-color;
    width: 100%;
    max-width: $max-width;
    @include padding-top(2rem);
  }

  .socials{
    width: 60px;
    display: flex;
    justify-content: space-between;
  }

  .icons {
    @include flex(flex-start, flex-end, row);

    svg {
      width: 30px;
      height: auto;

      path {
        fill: white;
        transition: 300ms ease-in-out fill;
        cursor: pointer;
      }

      &:hover {
        path {
          fill: $primary-color;
          transition: 300ms ease-in-out fill;
        }
      }

    }
  }


}

@include media(">=500px") {
  .footerGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@include media(">=800px") {
  .footerGrid {
    display: flex;
    justify-content: space-between;
  }
}
