@import "src/styles/globals";

@include media(">=xs") {
  .banner {
    display: flex;
    justify-content: center;
    width: 100vw;
    min-height: 60vh;
    background-color: $secondary-color;
  }

  .innerBanner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: $max-width;
    h1, p {
      color: $white;
    }

    p {
      max-width: 600px;
    }

  }
}

@include media(">=sm") {
  .banner {
    min-height: 60vh;
  }

}


@include media(">sm", "<=lg") {


}
