@import "../collections/collections";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

html{
  height: auto;
  width:100vw;
  max-width: 100vw;
  overflow-x: hidden !important;
  scroll-behavior: smooth;

}

body {
  position: relative;
  font-family: 'Poppins', 'Source Sans Pro', serif !important;
  min-height: 100%;
  height: auto;
  width:100%;
  overflow-x: hidden !important;
  overflow-y: hidden!important;
}


h1, h2, h3{
  font-weight: bold;
}

 h4, h5, a ,p {
   font-weight: normal;
   text-decoration: none;
}


#__next{
  height: inherit;
  overflow-x: hidden !important;
}

.no-transitions{
  transition: none !important;
}

::-webkit-scrollbar-track
{
  border-radius: 5px;
  width: 1px;
  background-color: transparent;
}

::-webkit-scrollbar
{
  height: 7px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb
{
  border-radius: 5px;
  -webkit-box-shadow: none;
  background-color: #555;
}

.slogan{
  @include rfs(64px);
}

.title{
  @include rfs(48px);
  @include margin-bottom(32px)
}

.subtitle{
  @include rfs(26px);
}

.title-label{
  @include rfs(14px);
  @include margin-bottom(32px)
}

.subheader{
  @include rfs(22px);
  @include margin-bottom(20px)
}

.small-header{
  @include rfs(18px);
  @include margin-bottom(16px)
}

.text{
  @include rfs(16px);
  @include margin-bottom(32px)
}

.label{
  @include rfs(14px);
  @include margin-bottom(32px)
}

.label-small-margin{
  @include rfs(14px);
  @include margin-bottom(16px)
}



.article-title{
  @include rfs(48px);
  @include margin-bottom(26px)
}

.article-subtitle{
  @include rfs(26px);
  @include margin-bottom(26px)
}

.article-title-label{
  @include rfs(14px);
  @include margin-bottom(16px)
}
