@import "../collections/collections";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

html {
  height: auto;
  width: 100vw;
  max-width: 100vw;
}

body {
  position: relative;
  font-family: 'Poppins', 'Source Sans Pro', serif !important;
  min-height: 100%;
  height: auto;
  width: 100%;
  overflow-x: hidden !important;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

//Fonts
a{
  text-decoration: none;
}

//Landing page fonts
.font-landing-title {
  @include font-size(3rem);
}

.font-landing-text {
  @include font-size(1rem);
  @include margin(1.5rem 0);
}

.font-title{
  @include font-size(2.5rem);
}

.font-header{
  @include font-size(1.5rem);
}

.font-subheader{
  @include font-size(1rem);
  @include margin(1.5rem 0);
}

//Used as a single large title for an article / lap of text
.font-article-title {
  @include font-size(2.5rem);
  @include margin-bottom(2rem);
}

.font-article-header {
  @include font-size(1.5rem);
  @include margin-bottom(1rem);
}

.font-article-info{
  @include font-size(1.5rem);
  @include margin-bottom(1rem);
}

.font-article-reference {
  @include rfs(12px);
}

.font-card-title{
  @include font-size(1.3rem);
  @include margin-bottom(1rem);
}

.font-general{
  @include font-size(1rem);
  @include margin-bottom(1rem);
}

//Used for titles of paragraphs / articles

@media screen and (max-width: $tablet-small-breakpoint) {
  .font-landing-title {
    @include font-size(3rem);
  }

  .font-title{
    @include font-size(1.5rem);
    @include margin-bottom(1rem);
  }

  .font-header {
    @include font-size(1.2rem);
    @include margin-bottom(0.8rem);
  }

}
