@import "../collections/collections";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//
//@font-face {
//  font-family: 'Poppins';
//  font-display: auto;
//  font-style: normal;
//  src: url('../../../public/fonts/Poppins-Light.ttf');
//  src: url('../../../public/fonts/Poppins-Bold.ttf');
//  src: url('../../../public/fonts/Poppins-Medium.ttf');
//  src: url('../../../public/fonts/Poppins-Regular.ttf');
//}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

html{
  height: auto;
  width:100vw;
  max-width: 100vw;
  overflow-x: hidden !important;
}

body {
  position: relative;
  font-family: 'Poppins', 'Source Sans Pro', serif !important;
  min-height: 100%;
  height: auto;
  width:100%;
  overflow-x: hidden !important;
  overflow-y: hidden!important;
}

 h5, a ,p {
   font-weight: lighter;
   text-decoration: none;
}

 h1, h2, h3, h4{
 font-weight: bolder;
}

#__next{
  height: inherit;
  overflow-x: hidden !important;
}

.app{
  position:relative;
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.content-wrapper{
  position:relative;
  min-height: 100vh;
  width: 100vw;
  height: 100%;
}

h1{
  font-size: 80px;
  margin: 15px 0;
}

h2{
  font-size: 60px;
  margin: 0 0 20px 0;
  line-height: 35px;
}

h3{
  font-size: 30px;
  margin: 0 0 15px 0;
}

h4{
  font-size: 20px;
  margin: 0 0 10px 0;
}

h5{
  font-size: 16px;
  margin: 0 0 10px 0;
}

p{
  margin: 0 0 20px 0;
  line-height: 30px;
  font-size: 16px;
  text-align: justify;
}

a{
  color: #1a1a1a;
}


@media screen and (max-width: 600px) {
  h1{
    font-size: 40px;
    margin: 0 0 30px 0;
    font-weight: bold;
  }

  h2{
    font-size: 30px;
    margin: 0 0 25px 0;
    font-weight: bold;
  }

  h3{
    font-size: 25px;
    margin: 0 0 30px 0;
  }

  h4{
    font-size: 14px;
  }

  p{
    margin: 0 0 20px 0;
    line-height: 30px;
    font-size: 18px;
  }

}


