@import "../collections/collections";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

html{
  height: auto;
  width:100vw;
  max-width: 100vw;
  overflow-x: hidden !important;
}

body {
  position: relative;
  font-family: 'Poppins', 'Source Sans Pro', serif !important;
  min-height: 100%;
  height: auto;
  width:100%;
  overflow-x: hidden !important;
  overflow-y: hidden!important;
}


h1, h2, h3{
  font-weight: bold;
}

 h4, h5, a ,p {
   font-weight: normal;
   text-decoration: none;
}


#__next{
  height: inherit;
  overflow-x: hidden !important;
}

.no-transitions{
  transition: none !important;
}

::-webkit-scrollbar-track
{
  border-radius: 5px;
  width: 1px;
  background-color: transparent;
}

::-webkit-scrollbar
{
  height: 7px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb
{
  border-radius: 5px;
  -webkit-box-shadow: none;
  background-color: #555;
}

.slogan{
  @include rfs(64px);
}

.title{
  @include rfs(48px);
  @include margin-bottom(32px)
}

.subtitle{
  @include rfs(26px);
}

.title-label{
  @include rfs(14px);
  @include margin-bottom(32px)
}

.subheader{
  @include rfs(22px);
  @include margin-bottom(20px)
}

.small-header{
  @include rfs(18px);
  @include margin-bottom(16px)
}

.text{
  @include rfs(16px);
  @include margin-bottom(32px)
}

.label{
  @include rfs(14px);
  @include margin-bottom(32px)
}

.label-small-margin{
  @include rfs(14px);
  @include margin-bottom(16px)
}

.header-mobile-text{
  @include rfs(32px);
}

.article-title{
  @include rfs(48px);
  @include margin-bottom(26px)
}

.article-subtitle{
  @include rfs(26px);
  @include margin-bottom(26px)
}

.article-title-label{
  @include rfs(14px);
  @include margin-bottom(16px)
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 0em 10px 2.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

//Fonts

//Used as a single large title for an article / lap of text
.font-title{
  @include font-size(2.3rem);
  @include margin-bottom(2rem);
}

//Used for titles of paragraphs / articles
.font-header{
  @include font-size(1.5rem);
  @include margin-bottom(1rem);
}

.font-reference{
  @include rfs(12px);
}
