.testimonials{
  @include flex(space-between, flex-start, row);
  @include size(100%, auto);
  max-width: $max-width;
}

.testimonial-card{
  @include size(30.333%, auto);
  @include flex(flex-start, center, column);
  min-height: 300px;
  max-width: 500px;

  p{
    width: 100%;
  }

  &:nth-child(1){
    margin-right: 20px;
  }

  &:nth-child(2){
    margin: 0 20px;
  }

  &:nth-child(3){
    margin-left: 20px;
  }

  h4{
    margin-bottom: 22.5px;
  }

  text-align: center;

}

.testimonial-card-image{
  @include size(150px, 150px);
  position: relative;
  margin-bottom: 45px;
  border-radius: 50%;

  &:before{
    @include size(100%, 100%);
    content:"";
    position: absolute;
    top:0;
    left:0;
    //background: linear-gradient(133deg, $primary-color 0%, #667eea 100%);
    border-radius: 50%;
    opacity: 0.35;

  }

  img{
    object-fit: cover;
    @include size(100%, 100%);
    object-position: center;
    border-radius: 50%;
  }
}

@media screen and (max-width: $tablet-breakpoint) {
  .testimonials{
    @include flex(flex-start, center, column);
    @include size(100%, auto);
    padding: 0;
  }

  .testimonial-card{
    width: 100%;
    max-width: 500px;
    &:nth-child(1), &:nth-child(2), &:nth-child(3){
      margin: 0;
      margin-bottom: calc(15.57143vw * 0.65);
    }
    &:nth-child(3){
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: $tablet-small-breakpoint) {
  .testimonial-card{
    &:nth-child(1), &:nth-child(2){
      margin-bottom: calc(20.57143vw * 1.05);
    }
    &:nth-child(3){
      margin-bottom: 0 !important;
    }
  }
}
