.why-asrr {
  @include flex(center, flex-start, row);
  width: 100%;
  height: auto;

  &.margin-bottom {
    margin-bottom: 100px;
  }
}

.why-asrr-left {
  justify-content: flex-start !important;
}

.why-asrr-wrapper {
  width: 100%;
  height: auto;
  min-width: 300px;
  max-width: 900px;
  @include flex(flex-start, flex-start, row);
}

.why-asrr-points {

  span {
    //height: 80px;
    height: auto;
    min-height: 80px;
    width: auto;
    max-width: 300px;
    @include flex(flex-end, center, row);
    border-right: 2px solid #eee;
    padding-right: 50px;
    cursor: pointer;
    transition: 300ms ease-in-out;

    &:hover {
      border-right: 2px solid $primary-color;
      transition: 300ms ease-in-out;
    }

    &.selected-line {
      border-right: 2px solid $primary-color;

      p {
        font-weight: bold;
      }

    }
  }

  p {
    display: inline-block;
    width: auto;
    max-width: 200px;
    margin-bottom: 0;
    text-align: left;

    &:hover {
      font-weight: bold;
    }

  }

}

.why-asrr-text {
  height: 100%;
  width: 60%;
  @include flex(center, flex-start, column);
  margin-left: 25px;


  ul{
    list-style-position:inside;

  }


}

@media screen and (max-width: 700px) {
  .why-asrr {
    flex-direction: column;
    min-width: 0;
    max-width: 100%;
    align-items: center;
  }

  .why-asrr-wrapper {
    flex-direction: column;
    min-width: 0;
    max-width: 100%;
    align-items: center;
  }

  .why-asrr-points {
    display: grid;
    grid-auto-rows: 1fr;
    margin-bottom: 50px;
    overflow-x: auto;
    width: 100%;

    span {
      border-right: none;
      border-bottom: 2px solid #eee;
      padding: 25px 25px 0 25px;
      width: 100%;
      min-height: 100%;
      height: 100%;

      &:first-of-type{
        padding: 25px 25px 0 0;
      }

      p{
        width: auto;
        display: flex;
        max-width: 100%;
        white-space: nowrap;

      }

      &:hover {
        border-bottom: 2px solid $primary-color;
        border-right: none;
        transition: 300ms ease-in-out;
      }

      &.selected-line {
        border-bottom: 2px solid $primary-color;
        border-right: none;
      }
    }

  }

  .why-asrr-text {
    margin-left: 0;
    text-align: center;
    width: 100%;

    p{
      max-width: 100%;
      text-align: justify;
    }

  }

}
