.button {
  border: none;
  text-align: center;
  height: 100%;
  box-sizing: content-box;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: auto;
  font-family: inherit;

  transition: 50ms ease-in box-shadow;
  &:hover{
    box-shadow: none;
    transition: 50ms ease-in box-shadow;
  }

  &.button-auto{
    margin: auto;
  }

  p, a{
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    padding: 0.75em 1.25em;

  }
}

button {
  border: none;
  text-align: center;
  height: 100%;
  box-sizing: content-box;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: auto;
  font-family: inherit;
  padding: 0.75em 1.25em;
  transition: 50ms ease-in box-shadow;
  &:hover{
    box-shadow: none;
    transition: 50ms ease-in box-shadow;
  }
}
