.header-container {
  width: 100%;
  height: 60px;
  background-color: #343434;
  position: fixed;
  left: 0;
  top: 0;
  @include flex(center, center, row);
  //z-index: -100;
  //opacity: 0;
  transition: 300ms ease-in-out all;
  color:white !important;
  z-index: $header-zIndex;

  //Header used on landing page
  &.landing {
    opacity: 1;
    z-index: $header-zIndex;
    position: absolute;
    top: 0;
  }

  &.visible{
    background-color: white;
    opacity: 1;
    z-index: $header-zIndex;
  }
}


.header-wrapper {
  @include size(100%, 100%);
  max-width: $max-width;
  @include flex(space-between, center, row);
  position: relative;

  img {
    width: 80px;
    height: auto;
    z-index: $header-zIndex;
  }

  a {
    height: 100%;
    width: auto;
    position: relative;
    color:$font-color-light;
    text-decoration: none;
    @include flex(space-between, center, row);
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      bottom: 10px;
      left: 0;
      transform: scaleX(0);
      transform-origin: left;
      width: 100%;
      height: 3px;
      background-color: $primary-color;
      transition: cubic-bezier(.51, .92, .24, 1.15) all 300ms;
    }

    &:hover {
      &:after {
        transform: scaleX(1);
        transition: cubic-bezier(.51, .92, .24, 1.15) all 300ms;
      }
    }
  }

}

.header-logo {
  @include flex(center, flex-end, column);
  width: auto;
  height: 100%;

  li {
    list-style: none;
  }
}

.header-menu {
  @include size(100%, 100%);
  @include flex(space-between, center, row);


  li {
    display: block;
    list-style: none;
    padding: 20px 20px;
  }

  a {
    text-decoration: none;
  }
}

//hamburger menu
.hamburger-wrapper {
  z-index: 100;
  width: 25px;
  height: 25px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}

.hamburger-wrapper {
  &.open {
    transform: rotate(-45deg);
  }
}

.line-menu {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 3px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}


@media screen and (max-width: 1200px) {

  .hamburger-wrapper {
    display: flex;
  }

  .header-wrapper {
    padding: 0 25px;

    #mobile-logo {
      display: flex;
      z-index: 100;
    }

    #pc-logo {
      display: none;
    }

  }

  .header-menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    @include flex(center, center, column);
    background-color: #f0f0f0;
    transform: translateX(-100vw);
    transition: 300ms ease-in-out all;

    &.open {
      transform: translateX(0);
      transition: 300ms ease-in-out all;
    }

    a {
      color: #1a1a1a !important;
    }

  }

}
