.header {
  width: 100%;
  height: 60px;
  position: fixed;
  left: 0;
  top: 0;
  @include flex(center, center, row);
  transition: 300ms ease-in-out all;
  color:white !important;
  z-index: $header-zIndex;
  padding: 0 $pc-padding;
  //Header used on landing page
}

.asrr-logo {
  width: 80px;
  height: auto;
  z-index: $header-zIndex;
}

.header-wrapper {
  @include size(100%, 100%);
  max-width: $max-width;
  @include flex(space-between, center, row);
  position: relative;

  a {
    height: 100%;
    width: auto;
    position: relative;
    color:$font-color-light;
    text-decoration: none;
    @include flex(space-between, center, row);

    &:after {
      content: "";
      position: absolute;
      bottom: 10px;
      left: 0;
      transform: scaleX(0);
      transform-origin: left;
      width: 100%;
      height: 3px;
      background-color: $primary-color;
      transition: cubic-bezier(.51, .92, .24, 1.15) all 300ms;
    }

    &:hover {
      &:after {
        transform: scaleX(1);
        transition: cubic-bezier(.51, .92, .24, 1.15) all 300ms;
      }
    }
  }

//Moon / sun icon
  .icon{
    width:25px;
    height: 25px;
    svg{
      width:100%;
      height: auto;
    }
  }

}

.header-logo {
  @include flex(center, flex-end, column);
  width: auto;
  height: 100%;

  li {
    list-style: none;
  }
}


@media screen and (max-width:1200px) {
  .header{
    padding: 0 $tablet-padding;
  }
}

@media screen and (max-width:500px) {
  .header{
    padding: 0 $mob-padding;
  }
}