$indigo: #536dc8;
$danube: #6191d1;
$white: #fff;
$bermuda: #77D7B9;

.header {
  width: 100%;
  height: 60px;
  position: fixed;
  left: 0;
  top: 0;
  @include flex(center, center, row);
  transition: 300ms ease-in-out all;
  color: white !important;
  z-index: $header-zIndex;
  //Header used on landing page
}

.asrr-logo {
  width: 80px;
  height: auto;
  z-index: 9999;
  margin: 0;
}

.header-logo{
  margin: 0;
}

//For menu to use as relative parent
.header-relative {
  width: 100vw;
  height: 100%;
  @include flex(center, center, row);
  position: relative;
  padding: $pc-padding-header;

}

.header-wrapper {
  @include size(100%, 100%);
  max-width: $max-width;
  @include flex(space-between, center, row);
  //position: static;
}


.header-menu {
  position: relative;
  @include flex(center, center, row);
  width: 100%;
  overflow: hidden;

  a {
    height: auto;
    width: auto;
    margin: 0 20px;
    position: relative;
    color: $font-color-light;
    text-decoration: none;
    cursor: pointer;
    @include flex(space-between, center, row);

    &:hover{
      color: $primary-color;
    }

    &.active-link {
      color: $primary-color;
    }
  }

  &.open {
    transform: translateX(0);
    transition: all ease-in-out 500ms;
  }
}

//Moon / sun icon
.icon {
  width: 25px;
  height: 25px;
  z-index: 10000000;
  cursor: pointer;

  svg {
    width: 100%;
    height: auto;
  }
}

.header-actions {
  @include size(auto, 100%);
  @include flex(flex-end, center, row)
}

@media screen and (max-width: 1200px) {

  .header {
    height: 80px;
  }

  .asrr-logo {
    width: 60px;
  }

  .header-relative {
    padding: $tablet-padding-header;
  }

  .header-wrapper {
    a {
      margin: 20px 0;
      font-size: 32px;
    }
  }

  .header-menu {
    position: fixed;
    left: 0;
    transform: translateX(100vw);
    top: 0;
    @include flex(center, center, column);
    width: 100vw;
    height: 100vh;
    z-index: 100;
    transition: all ease-in-out 500ms;
    overflow: hidden;

    &.open {
      transform: translateX(0);
      transition: all ease-in-out 500ms;
    }
  }

}

@media screen and (max-width: 600px) {
  .header-relative {
    padding: $mob-padding-header;
  }

  .header-menu {
    padding-top: 20vh;
    justify-content: flex-start;
  }

  .header-wrapper {
    a {
      margin: 10px 0;
      font-size: 24px;
    }
  }

  //.test-bar{
  //  position: fixed;
  //  width: 600px;
  //  height: 300px;
  //  background-color: red;
  //  transform: rotate(45deg);
  //  z-index: 100000;
  //}

  .menu-overlay {
    position: fixed;
    width: 300vw;
    height: 100vw;
    display: block;
    background-color: red;
    transition: background-position 0.5s 0.5s, transform 0.5s 0.8s, visibility 0.5s 1s;
    //visibility: hidden;
    transform: translateX(-50%);
    left: -150%;
    z-index: 100000000;

    &.top{
      transform: rotate(-45deg) translateY(-0%);
      background-size: 100% 200%;
      background-position: -100% 100%;
      &.menu-open{
        transform: rotate(-45deg) translateY(-10vw);
        background-position: 0 0;
      }
    }

    &.middle{
      transform: rotate(-45deg) translateY(148%) scaleY(0);
      height: 55vw !important;
      &.open{
        transform: rotate(-45deg) translateY(80vw) scaleY(1);
      }
    }

    &.bottom{
      transform: rotate(-45deg) translateY(350%);
      background-size: 100% 200%;
      &.open{
        transform: rotate(-45deg) translateY(140vw);
        background-position: 0 0;
      }
    }
  }



  //.menu-open.menu-overlay {
  //  visibility: visible;
  //  transition: background-color 0.3s, background-position 0.3s, transform 0.3s 0.3s;
  //}
  //
  //.menu-overlay.top {
  //  transform: rotate(-45deg) translateY(-250%);
  //  //background: linear-gradient(to top, #E4324C 50%, #1A1A1A 50%);
  //  background-size: 100% 200%;
  //  background-position: -100% 100%;
  //}
  //
  //.menu-open.menu-overlay.top {
  //  transform: rotate(-45deg) translateY(-10vw);
  //  background-position: 0 0;
  //  //transition: 400ms ease-in background;
  //}
  //
  //.menu-overlay.middle {
  //  transform: rotate(-45deg) translateY(148%) scaleY(0);
  //  height: 55vw !important;
  //}
  //
  //.menu-open.menu-overlay.middle {
  //  transform: rotate(-45deg) translateY(80vw) scaleY(1);
  //}
  //
  //.menu-overlay.bottom {
  //  transform: rotate(-45deg) translateY(350%);
  //  background-size: 100% 200%;
  //}
  //
  //.menu-open.menu-overlay.bottom {
  //  transform: rotate(-45deg) translateY(140vw);
  //  background-position: 0 0;
  //}

  .menu-background {
    //visibility: hidden;
    width: 300%;
    height: 35vh;
    position: fixed;
    left: -130%;
    transition: background-position 0.5s, transform 0.5s 0.5s, visibility 0.5s 1s;
    .menu-open & {
      visibility: visible;
      transition: background-position 0.5s, transform 0.5s 0.5s;
    }
    &.top {
      transform: rotate(-45deg) translateY(22%);
      //background: linear-gradient(to top, transparent 50%, red 50%);
      background-size: 100% 200%;
      background-position: -100% 100%;
      z-index: -1;
      &.menu-open {
        transform: rotate(-45deg) translateY(22%);
        background-position: 0 0;
      }
    }
    &.middle {
      transform: rotate(-45deg) translateY(120%)  translateX(-20%) scaleY(0);
      //background: linear-gradient(to bottom, red 50%, $danube 50%);
      transition: transform 0.5s 0.3s;
      z-index: -1;
      transform-origin: center;

      &.menu-open {
        transform: rotate(-45deg) translateY(120%) translateX(-20%) scaleY(1);
        transition: transform 0.5s;
        transform-origin: center;
      }

    }
    &.bottom {
      transform: rotate(-45deg) translateY(218%) translateX(-30%);
      //background: linear-gradient(to bottom, $danube 50%, transparent 50%);
      background-size: 100% 200%;
      background-position: 0 -100%;
      z-index: -1;
      &.menu-open  {
        transform: rotate(-45deg) translateY(218%) translateX(-35%);
        background-position: 0 0;
      }
    }
  }

}

