$indigo: #536dc8;
$danube: #6191d1;
$white: #fff;
$bermuda: #77D7B9;



.header-mobile {
  @include size(100%, 80px);
  @include flex(center, center, row);
  position: fixed;
  left: 0;
  top: 0;
  z-index: $header-zIndex;
  padding: 0 $padding-tablet;
}

.header-wrapper-mobile{
  @include size(100%, 100%);
  @include flex(space-between, center, row);
  position: relative;
  max-width: $max-width;
  z-index: $header-zIndex;
}

.header-menu-accordion-mobile{
  width:100vw;
  @include flex(flex-start, center, column);
  position: fixed;
  top:0;
  left:0;
  padding: 80px 0;

  .header-menu-panel-mobile{
    @include flex(center, center, column);
    width: 100vw;
    height: 0;
    max-height: 0;
    transition: max-height 0.9s ease-in-out;
    overflow: hidden;
  }

  a{
    //white-space: nowrap;
    @include margin(32px 0);
  }

  &.menu-open{
    .header-menu-panel-mobile{
      height: 100vh;
      max-height: 100vh;
      transition: max-height 0.9s ease-in-out;
    }
  }

}

.header-actions-mobile {
  @include size(auto, 100%);
  @include flex(flex-end, center, row)
}

.header-mobile-asrr-logo {
  width: 80px;
  height: auto;
  z-index: 9999;
  margin: 0;
}

@media screen and (min-width: $tablet-breakpoint) {
  .header-mobile{
    display: none;
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .header-mobile{
    padding: 0 $padding-mobile;
  }
}
