.header {
  width: 100%;
  height: 60px;
  position: fixed;
  left: 0;
  top: 0;
  @include flex(center, center, row);
  transition: 300ms ease-in-out all;
  color:white !important;
  z-index: $header-zIndex;
  //Header used on landing page
}

.asrr-logo {
  width: 80px;
  height: auto;
  z-index: $header-zIndex;
}

//For menu to use as relative parent
.header-relative{
  width: 100vw;
  height: 100%;
  @include flex(center, center, row);
  position: relative;
  padding: 0 $pc-padding;

}

.header-wrapper {
  @include size(100%, 100%);
  max-width: $max-width;
  @include flex(space-between, center, row);
  position: static;

  a {
    height: auto;
    width: auto;
    margin: 20px 20px;
    position: relative;
    color:$font-color-light;
    text-decoration: none;
    cursor: none;
    @include flex(space-between, center, row);

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      transform: scaleX(0);
      transform-origin: left;
      width: 100%;
      height: 3px;
      background-color: $primary-color;
      transition: cubic-bezier(.51, .92, .24, 1.15) all 300ms;
    }

    &:hover {
      &:after {
        transform: scaleX(1);
        transition: cubic-bezier(.51, .92, .24, 1.15) all 300ms;
      }
    }
  }
}


.header-menu{
  position: relative;
  @include flex(center, center, row);
  width:100%;
  overflow: hidden;

  &.open{
    transform: translateX(0);
    transition: all ease-in-out 500ms;
  }
}

//Moon / sun icon
.icon{
  width:25px;
  height: 25px;
  z-index: 10000000;
  svg{
    width:100%;
    height: auto;
  }
}

.header-background-text{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  font-size: 40vw;
  max-font-size: 100px;
  z-index: -1;
  opacity: 0.05;
  text-align: center;
  transition: 400ms ease-in all;

}

.header-actions{
  @include size(auto, 100%);
  @include flex(flex-end, center, row)
}


@media screen and (max-width:1200px) {

  .header{
    height: 80px;
  }

  .asrr-logo {
    width: 60px;
  }

  .header-relative{
    padding: 0 $tablet-padding;
  }

  .header-wrapper{
    a{
      margin: 20px 0;
      font-size: 32px;
    }
  }

  .header-menu{
    position: fixed;
    left:0;
    transform: translateX(100vw);
    top:0;
    @include flex(center, center, column);
    width:100vw;
    height: 100vh;
    z-index: 100;
    transition: all ease-in-out 500ms;
    overflow: hidden;

    &.open{
      transform: translateX(0);
      transition: all ease-in-out 500ms;
    }
  }

}

@media screen and (max-width:500px) {
  .header-relative{
    padding: 0 $mob-padding;
  }
}

