.language{
  height: 100%;
  width:auto;
  @include flex (center, center, row);
  position: relative;
  margin-right: 50px;

  .menu{
    position: absolute;
    width:100px;
    height: 0;
    top:100%;
    left:50%;
    transform: translateX(-50%);
    padding: 0.5em;
    @include flex (center, center, row);
    opacity:0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;

    &.menuOpen{
      height: 50px;
      opacity:1;
      pointer-events: auto;
      transition: height 0.3s ease-in-out;
    }
  }
}

.chev {
  display:block;
  position: absolute;
  left:0;
  top:50%;
  width:20px;
  height: 20px;
  margin: 0 0 0 1px;
  transform: scale(0.8) translate(65%, -60%);
}
.chev .line {
  background-color: inherit;
  display: block;
  float:left;
  border-radius: 4px;
  transition: width, height, margin, 0.3s ease-in-out ;
}

.chev-down .line, .chev-up .line {
  width: 4px;
  height: 16px;
  margin: 2px;
}

.chev-right .line, .chev-left .line {
  width: 16px;
  height: 4px;
  margin: 0px;
}

.chev-down .line:nth-child(1){
  -webkit-transform: translateX(0px) rotate(-45deg);
  -ms-transform: translateX(0px) rotate(-45deg);
  -o-transform: translateX(0px) rotate(-45deg);
  transform: translateX(0px) rotate(-45deg);
}
.chev-down .line:nth-child(2){
  -webkit-transform: translateY(0px) rotate(45deg);
  -ms-transform: translateY(0px) rotate(45deg);
  -o-transform: translateY(0px) rotate(45deg);
  transform: translateY(0px) rotate(45deg);
}
.chev.is-active .chev-down .line:nth-child(1){
  -webkit-transform: translateX(4px) rotate(45deg);
  -ms-transform: translateX(4px) rotate(45deg);
  -o-transform: translateX(4px) rotate(45deg);
  transform: translateX(4px) rotate(45deg);
}
.chev.is-active .chev-down .line:nth-child(2){
  -webkit-transform: translateX(-4px) rotate(-45deg);
  -ms-transform: translateX(-4px) rotate(-45deg);
  -o-transform: translateX(-4px) rotate(-45deg);
  transform: translateX(-4px) rotate(-45deg);
}

.language-mobile{
  height:auto;
  width:auto;
  @include flex (center, center, row);
  position: relative;
  display: none;

  a{
    padding: 10px;
  }

}

@media screen and (max-width: 1200px) {
  .language{
    display: none;
    .menu{
      display: none;
    }
  }

  .language-mobile{
    display: flex;
  }

}
