$article-max-width: 1000px;
$article-spacing: 50px;
$article-media-description-spacing: calc(#{$article-spacing} / 2);

.article-body {
  @include flex(flex-start, flex-start, row);
  @include size(100%, 100%);
  max-width: $max-width;
}

.article-links {
  @include flex(flex-start, flex-start, column);
  @include size(50px, auto);
  top: 100px;
  position: sticky;
  left: 0;
  z-index: 100;
}

.article-content {
  @include flex(flex-start, center, column);
  @include size(100%, 100%);
  @include margin-left(100px)
}

.article-title {
  @include size(100%, auto);
  @include margin-bottom($article-spacing);
  max-width: $article-max-width;
}

.article-section {
  @include flex(flex-start, flex-start, column);
  @include size(100%, 100%);
  max-width: $article-max-width;
  @include margin-bottom($article-spacing);

  .article-markdown {
    @include size(100%, 100%);
  }

  h1 {
    @include font-size(1.5rem);
    @include margin-bottom(1rem);
  }

  h2 {
    @include font-size(1.5rem);
  }

  p {
    @include font-size(1rem);
  }

}

//Styling for video and images
.article-media-container {
  @include flex(flex-start, flex-start, column);
  @include size(100%, auto);
  @include margin-top($article-spacing);
}

.article-media-description {
  @include margin-top($article-media-description-spacing);

  p {
    font-weight: bold;
  }
}

@media screen and (max-width: $tablet-small-breakpoint) {
  .article-body {
    flex-direction: column;
  }


  .article-links {
    flex-direction: row;
    width: auto;
    @include margin-bottom($article-spacing);
    position: relative;
    top: 0;
  }

  .article-content {
    margin-left: 0;
  }

}

@media screen and (max-width: $mobile-breakpoint) {

}
