.wide-image {
  @include flex(flex-start, flex-start, column);
  @include size(100%, auto);
  max-width: 650px;
}

.square-image {
  @include flex(flex-start, flex-start, column);
  @include size(100%, auto);
  max-width: 650px;
}




















.article-body{
  @include size (100%, auto);
  @include flex(flex-start, center, column);
  padding: 0 $padding-pc;
  @include padding-top(64px);
  @include padding-bottom(64px);

  &.keywords{
    @include padding-top(32px);
  }

}

.article-keywords{
  @include size (100vw, auto);
  @include margin-bottom(48px);
  @include flex(center, center, row);
  padding: 0 $padding-pc;
  border-bottom-width: 1px;
  border-bottom-style: solid;

  p{
    @include margin-bottom(32px);
  }
}

.article-keywords-wrapper{
  @include size (100vw, auto);
  @include flex(flex-start, center, row);
  max-width: $max-width;
}

.article-content{
  @include size (100%, auto);
  @include flex(flex-start, center, column);
  max-width: 650px;
}

.article-section{
  @include size (100%, auto);
  @include flex(flex-start, flex-start, column);
  @include margin-bottom(30px);

  hr{
    width: 100%;
  }

  *{
    &:last-child{
      margin-bottom: 0;
    }
  }

}

.article-title-wrapper{
  @include size (100%, auto);
  @include flex(center, flex-start, column);
  @include margin-bottom(64px);

  div {
    //select all jids then the last  kid
    * {
      &:last-child{
        margin-bottom: 0;
      }
    }

  }
}

.article-paragraph{
  @include size (100%, auto);
  @include flex(flex-start, flex-start, column);
  @include margin-bottom(48px);

  p{
    margin-bottom: 0;
  }
}

.article-image{
  @include flex(flex-start, flex-start, column);
  @include size(100%, auto);
  @include margin-bottom(48px);
  max-width: 650px;
  h1{
    @include margin-top(32px);
  }

}

.next-article-wrapper{
  @include flex(space-between, flex-start, row);
  @include size(100vw, auto);
}

.next-article{
  @include flex(space-between, flex-start, row);
  @include size(100%, auto);
  max-width: $max-width;

}

.next-article-card{
  width: 45%;
  height: 300px;
  background-color: red;

}

@media screen and (max-width: $tablet-breakpoint) {
  .article-body{
    padding: 0 $padding-tablet;
  }

  .article-keywords{
    padding: 0 $padding-tablet;
  }

}

@media screen and (max-width: $mobile-breakpoint) {
  .article-body{
    padding: 0 $padding-mobile;
  }

  .article-keywords{
    padding: 0 $padding-mobile;
  }

}


