$article-spacing: 50px;

.article-body {
  @include flex(flex-start, flex-start, row);
  @include size(100%, 100%);
  max-width: $max-width;
  position: relative;
  @include padding(100px 0);
}

.article-links {
  @include flex(flex-start, flex-start, column);
  width: 100px;
  height: auto;
  position: sticky;
  top: 80px;
}

.article-content {
  @include flex(flex-start, center, column);
  @include size(100%, 100%);
  max-width: 1000px;
  @include margin-left(100px);
}

.article-title {
  @include size(100%, auto);
  @include margin-bottom($article-spacing)
}

.article-section {
  @include flex(flex-start, flex-start, column);
  @include size(100%, 100%);
  @include margin-bottom(50px);

  h1 {
    @include font-size(1.5rem);
    @include margin-bottom(1rem);
  }

  h2 {
    @include font-size(1.5rem);
  }

  p {
    @include font-size(1rem);
  }

}

//Styling for video and images
.article-media-container {
  @include flex(flex-start, flex-start, column);
  @include size(100%, auto);
  @include margin($article-spacing 0);
}

.article-media-description {
  @include margin-top(25px);
  p{
    font-weight: bold;
  }
}

