.blog{
  @include size(100%, auto);
  @include flex(space-between, flex-start, row);
  flex-wrap: wrap;
  max-width: $max-width;
  @include margin-top(-150px);

}

.blog-card{
  width: 30.33%;
  min-width: 350px;
  max-width: 450px;
  min-height: 650px;
  @include flex(flex-start, flex-start, column);
}

.blog-card-inner-wrapper{
  height:100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.blog-card-image{
  @include size(100%, auto);
}

.blog-card-image-wrapper{
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;

  img{
    @include size(100%, 100%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
    object-position: 50% 50%;
    transition: all 0.7s ease 0s;
    left: 0;
    top: 0;
    position: absolute;
  }

}

.blog-card-text{
  @include size(100%, 100%);
  flex:1;
  padding: 30px;
}


@media screen and (max-width: 1400px) {
  .blog-card{
    width: 45%;
    max-width: 500px;
  }
}

@media screen and (max-width: $tablet-breakpoint) {
  .blog{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .blog-card{
    height: auto;
    width: 100%;
    min-width: 200px;
    min-height: auto;
  }

  .blog-card-inner-wrapper{
    flex:0;
    height: auto;
  }

  .blog-card-text{
    height: auto;
    display: block;
    flex:0;
  }

}

@media screen and (max-width: $mobile-breakpoint) {
  .blog{
    @include margin-top(-100px);
  }
}
