.footer {
  @include size(100%, auto);
  @include flex(space-between, center, column);
  max-width: $max-width;
  background-color: #000;

  a{
    font-weight: bolder!important;
  }

  img {
    width: 80px;
    height: auto;
    margin-bottom: 50px;
    margin-right: auto;
  }

  h1,  p, a {
    color: white !important;
  }

  .footer-navigation {
    @include size(100%, auto);
    @include flex(space-between, flex-start, row);
    margin-bottom: 50px;
  }

  .grid {
    width: auto;
    @include flex(flex-start, flex-start, column);

    & *{
      &:last-child{
        margin-bottom: 0;
      }
    }

    h1{
      @include margin-bottom(1rem)
    }
    p, a{
      @include margin-bottom(0.8rem)
    }

    .footer-social-media{
      @include flex(flex-start, flex-end, row);
      a{
        display: inline-block;
        margin: 0;
        height: auto;
        svg {
          width: 30px;
          height: auto;

          path {
            fill: white;
            transition: 300ms ease-in-out fill;
            cursor: pointer;
          }

          &:hover {
            path {
              fill: $primary-color;
              transition: 300ms ease-in-out fill;
            }
          }

        }
      }
    }

    &.address {
      width: 25%;
      @include flex(flex-start, flex-start, column);

      p {
        font-weight: lighter;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  .footer-newsletter{
    width: 100%;
    height: auto;
    @include flex(center, flex-start, column);
    margin-bottom: 50px;
    h3{
      margin-bottom: 20px;
    }
  }

  .bottom {
    @include size(100%, auto);
    @include flex(space-between, center, row);

    p {
      margin: 0;
    }
  }
}


@media screen and (max-width: 1200px) {
  .footer {
    .footer-navigation {
      @include size(100%, auto);
      @include flex(space-between, flex-start, row);
      flex-wrap: wrap;
    }

    .footer-newsletter{
      form{
        width: 100%;
        max-width: 500px;
      }
    }

    .grid {
      width: 30.333%;
      margin-bottom: 50px;
      &:nth-last-of-type(1){
        margin-bottom: 0;
      }
    }

  }
}

@media screen and (max-width: 800px) {
  .footer {
    .grid {
      width: 45%;

      &:nth-last-of-type(2){
        margin-bottom: 0;
      }

    }
  }
}

@media screen and (max-width: 600px) {
  .footer {
    .grid {
      width: 100%;

      &:nth-last-of-type(2){
        margin-bottom: 50px;
      }

    }

    .footer-newsletter{
      form{
        width: 100%;
        max-width: 600px;
      }
    }

    .bottom {
      flex-direction: column;
      align-items: flex-start;

      p {
        font-size: 14px;
      }

      p:first-child {
        margin-bottom: 10px;
      }
    }
  }
}

