.cards-container{
  display: grid;
  @include size(100%, auto);
  grid-template-columns: repeat(3,minmax(25%,1fr));
  grid-gap: 50px;
  max-width: $max-width;
}

.card-rectangle{
  @include flex(flex-start, flex-start, column);
  height: auto;
  border-radius: 5px;
  width: 100%;
  min-height: 750px;
  transition: ease-in-out transform 300ms;

  &:hover{
    transform: scale(1.03);
    transition: ease-in-out transform 300ms;
  }

}

.card-rectangle-image{
  width: 100%;
  overflow: hidden;

  .card-rectangle-image-aspect-ratio{
    width: 100%;
    padding-bottom: 100%;
    position: relative;
  }

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;

  }

}

.card-rectangle-text-container{
  @include padding(25px 20px);
  @include flex(space-between, flex-start, column);
  width: 100%;
  flex: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  h1{
    color: $primary-color !important;
  }

}

.card-round{
  @include size(30.333%, auto);
  @include flex(flex-start, center, column);
  width: 100%;
  text-align: center;

  ul {
    list-style: none;
  }

}

.card-round-image{
  @include size(150px, 150px);
  position: relative;
  margin-bottom: 45px;
  border-radius: 50%;

  &:before{
    @include size(100%, 100%);
    content:"";
    position: absolute;
    top:0;
    left:0;
    background: linear-gradient(133deg, $primary-color 0%, #667eea 100%);
    border-radius: 50%;
    opacity: 0.35;

  }

  img{
    object-fit: cover;
    @include size(100%, 100%);
    object-position: center;
    border-radius: 50%;
  }
}


@media screen and (max-width: 1400px){
  .cards-container{
    grid-template-columns: repeat(2,minmax(25%,1fr));
  }

}

@media screen and (max-width: $tablet-breakpoint){
  .cards-container{
    grid-template-columns: repeat(2,minmax(25%,1fr));
    grid-gap: 50px;
  }
}

@media screen and (max-width: $tablet-small-breakpoint){
  .cards-container{
    grid-template-columns: 1fr;
    grid-row-gap: 100px;
  }

  .card-rectangle{
    min-height: auto;
    span{
      @include padding-top(50px);
    }

  }

}
